[2015-01-16 22:15] pixelzoom opened #1 "directory structure violates PhET convention"
Source-code directory structure for a 1-screen sim should look like this:

[code]

[2015-02-19 23:33] jbphet opened #2 "Verify against design spec"
ActualConcepts has delivered a version of this for testing, we need to compare its behavior to the specification.  This will be assigned to the lead designer.  Here is a link to the version that should be tested: http://www.colorado.edu/physics/phet/dev/html/atomic-interactions/1.0.0-dev.1/atomic-interactions_en.html.

[2015-02-19 23:34] jbphet commented on #2
@ycarpenterphet - please create separate issues for anything that needs to be addressed, and I'll assign them as they come up.

[2015-02-25 21:51] ycarpenterphet opened #3 "Alignment of horizontal axis label does not match design spec"
The text "Distance between atoms" should be aligned in the center of the horizontal axis and there should be slightly more vertical space between the axis and the text.

See for example this image from page 4 of the design document:
![startup appearance](https://cloud.githubusercontent.com/assets/4682895/6381305/69f7f652-bcfd-11e4-8ead-e98bbc4462d6.png)

Vs. the current dev version of the simulati

[2015-02-25 21:52] ycarpenterphet commented on #3
This issue also applies to the Interactions screen of States of Matter. @jbphet & @arouinfar - I've created a duplicate issue there that references this.

[2015-02-25 22:29] ycarpenterphet opened #4 "Sliders for Custom Attraction: size + alignment don't match design spec"
The design document shows the the Custom attraction sliders like so:
![screen shot 2015-02-25 at 2 54 47 pm](https://cloud.githubusercontent.com/assets/4682895/6381422/4e2291b6-bcfe-11e4-9171-4395ff9f23e7.png)

The sliders in the current version look like this instead:
![screen shot 2015-02-25 at 2 53 28 pm](https://cloud.githubusercontent.com/assets/4682895/6381511/db2694fe-bcfe-11e4-8653-80e057a

[2015-02-25 23:50] ycarpenterphet opened #5 "Width of top (atoms) options menu does not match spec"
The top menu is narrower than the Forces menu in the current version:
![screen shot 2015-02-25 at 3 31 46 pm](https://cloud.githubusercontent.com/assets/4682895/6383456/e6d34c7a-bd0d-11e4-95eb-689722bccb25.png)

Please adjust the width of the top menu to match the spec by expanding the purple area (note alignment of both left and right edges), but do not move the radio buttons:
![screen shot 2015-

[2015-02-25 23:56] ycarpenterphet opened #6 "Size and alignment of "Pinned" and "Moving" labels does not match spec"
The design document shows the following, where the heading fonts are significantly smaller than the radio button label font:
![screen shot 2015-02-25 at 4 53 08 pm](https://cloud.githubusercontent.com/assets/4682895/6383558/e04d260e-bd0e-11e4-9f0d-bbbe367bc0df.png)

Please...
(1) Adjust the size and position of the pin graphic to match the design
(2) Reduce the font size for the 'Pinned' and 'Movi

[2015-02-25 23:56] pixelzoom commented on #5
Looks like a candidate for using the new minWidth option that was added to sun.Panel.   For example:

[code]

[2015-02-26 02:03] ycarpenterphet opened #7 "Reset-all button doesn't reset the graph zoom state to start"
The reset-all button should reset everything to the sim-startup settings, meaning it should also reset the graph to the fully zoomed-in state, identical to when the sim is initially loaded.

[2015-02-26 02:14] ycarpenterphet opened #8 "Behavior of Oxygen-Oxygen case not consistent with Java sim"
When the oxygen atom is moved in the Oxygen-Oxygen case, the behavior doesn't match the Java sim.

(1) When the moving atom is moved a very small distance, a "bond" vibration does correctly occur. BUT, the pinned (left) atom should only vibrate momentarily, and then it should stop. Only the moving (right) atom continues to vibrate back and forth.

(2) When the moving atom is moved even halfway up

[2015-02-26 02:58] ycarpenterphet opened #9 "Appearance of labels in forces menu doesn't match design spec"
(1) The text "Hide Forces" and "Total Force" should be left-aligned with the straight edge of the bracket for the last radio button.

(2) Slightly decrease the font size for the Attractive and Repulsive labels, in order to increase the spacing between the first two radio buttons.

See this snapshot from the design doc:
![screen shot 2015-02-25 at 7 44 12 pm](https://cloud.githubusercontent.com/ass

[2015-02-26 03:58] ycarpenterphet opened #10 "Appearance of the graph does not match design spec"
The image below shows the current sim (at 1024 x 670 aspect ratio) on top, aligned with a copy of the design spec at the same size overlaid on it (at the bottom), for comparison:
 ![screen shot 2015-02-25 at 8 40 21 pm](https://cloud.githubusercontent.com/assets/4682895/6385955/cf0113cc-bd2e-11e4-8296-ff3640e64544.png)

Please adjust the graph to better match the design as follows:
- [x] Decrease

[2015-02-26 04:09] ycarpenterphet opened #11 "When the curve on the graph extends below the x-axis, epsilon arrow should not be double-headed"
From the design doc:
![screen shot 2015-02-25 at 9 05 09 pm](https://cloud.githubusercontent.com/assets/4682895/6386169/0547e520-bd32-11e4-8e55-905b492b11b2.png)

On the vertical line labelled with an epsilon symbol, there should be an arrow only at the top end when the curve itself is hidden below the distance axis. The bottom arrowhead only appears when the bottom of the curve is visible.

[2015-02-26 05:12] notsiddhartha commented on #8
The epsilon value for Oxygen-Oxygen is different from the java sim.

From the spec:
**1. Change value of variable EPSILON when Oxygen Oxygen option is selected**
_Previous value: EPSILON = 423.3
New value: EPSILON = 59500_

Could this be a valid reason for the above behaviour?

[2015-02-26 05:22] ycarpenterphet commented on #8
Although I don't think this change in the epsilon value should have affected the behaviour in the bonding case, I can't be certain.

@jbphet, can you comment on this case where both atoms are oxygen and see if the change in epsilon would cause the behavior changes described? All I have written in my notes is that the sim runs different code to determine the behaviour when both atoms are oxygen.

[2015-02-26 05:29] ycarpenterphet opened #12 "Return Atom button should not appear until atom leaves screen area"
Currently, the Return Atom button becomes visible as soon as the center of the atom leave the dev area:
![screen shot 2015-02-25 at 10 26 43 pm](https://cloud.githubusercontent.com/assets/4682895/6386842/8a3593a8-bd3d-11e4-9fd4-c21e214e3c16.png)

Is it possible for the button to only appear after the center of the atom exits the browser window?

[2015-02-26 05:40] ycarpenterphet opened #13 "Placement and size of Return Atom button does not match spec"
Design spec shows the following:
![screen shot 2015-02-25 at 10 36 46 pm](https://cloud.githubusercontent.com/assets/4682895/6386918/f17249b6-bd3e-11e4-8773-d7bde8fed0d6.png)

Please...
(1) Increase the font size of the 'Return Atom' label to match spec (should be the same size as the axis labels of the graph), and increase the button size to fit.
(2) Align the left-edge of the button with the lef

[2015-02-27 00:01] jbphet commented on #12
Looks like this may have been fixed.  Assigning to @ycarpenterphet to verify on http://www.colorado.edu/physics/phet/dev/html/atomic-interactions/1.0.0-dev.2/atomic-interactions_en.html.

[2015-02-27 00:02] jbphet commented on #13
Looks like this may have been fixed.  Assigning to @ycarpenterphet to verify on http://www.colorado.edu/physics/phet/dev/html/atomic-interactions/1.0.0-dev.2/atomic-interactions_en.html.

[2015-02-27 00:03] jbphet commented on #10
Is this ready for verification?  I just published Looks like this may have been fixed.  Assigning to @ycarpenterphet to verify on http://www.colorado.edu/physics/phet/dev/html/atomic-interactions/1.0.0-dev.2/atomic-interactions_en.html, which includes the latest commit, so if this is fixed the issue should be assigned to @ycarpenterphet.

[2015-02-27 00:05] jbphet commented on #9
Sounds like this may be fixed, assigning to @ycarpenterphet to verify on Looks like this may have been fixed.  Assigning to @ycarpenterphet to verify on http://www.colorado.edu/physics/phet/dev/html/atomic-interactions/1.0.0-dev.2/atomic-interactions_en.html.  If fixed, please close, if not, please assign to @kmsravindra.

[2015-02-27 00:06] jbphet commented on #7
Sounds like this may be fixed, assigning to @ycarpenterphet to verify on Looks like this may have been fixed. Assigning to @ycarpenterphet to verify on http://www.colorado.edu/physics/phet/dev/html/atomic-interactions/1.0.0-dev.2/atomic-interactions_en.html. If fixed, please close, if not, please assign to @kmsravindra.

[2015-02-27 00:07] jbphet commented on #3
Sounds like this may be fixed, assigning to @ycarpenterphet to verify on Looks like this may have been fixed. Assigning to @ycarpenterphet to verify on http://www.colorado.edu/physics/phet/dev/html/atomic-interactions/1.0.0-dev.2/atomic-interactions_en.html. If fixed, please close, if not, please assign to @kmsravindra.

[2015-02-27 01:51] pixelzoom commented on #9
In the commit above (https://github.com/phetsims/atomic-interactions/commit/864d0aa82642326200b8da96472be842bba07b54), magic constants were introduced in AtomicInteractionsControlPanel:

Why these particular values? Are these values specific to the English strings, or will they provide the requested layout for all locales?

[2015-02-27 01:53] pixelzoom commented on #10
Looks like the commit above introduced a layout problem with the 'Oxygen Oxygen' radio button layout, see this screenshot:

![screenshot_224](https://cloud.githubusercontent.com/assets/3046552/6406057/caed94d0-bde8-11e4-9365-237e4d43773e.png)

[2015-02-27 01:56] pixelzoom opened #14 "arrow options duplicated 3 times"
For the arrows in ForcesControlPanel, the options are duplicated 3 times:

[code]

Everything except the fill should be factored out into common options. Then use _.extend to provide the fill.

[2015-02-27 02:00] pixelzoom opened #15 "atomic-interactions depends on states-of-matter"
atomic-interactions is importing 24 strings, images and .js files from states-of-matter.

Problems with this:

(1) The dependency is missing from package.json

(2) It creates a circular dependency, see https://github.com/phetsims/states-of-matter/issues/48

[2015-02-27 02:04] pixelzoom commented on #6
Clearly not fixed in a general way that supports i18n.  Here's what it looks like when 'XXX' is added to the 'Pinned' and 'Moving' labels:

![screenshot_225](https://cloud.githubusercontent.com/assets/3046552/6406177/4838fa64-bdea-11e4-905c-6d1d19fd59ef.png)

[2015-02-27 02:05] pixelzoom opened #16 "test i18n"
Because of issues like https://github.com/phetsims/atomic-interactions/issues/6 and #17, I don't think this sim has been tested for i18n compliance.

[2015-02-27 02:08] pixelzoom opened #17 "graph fails i18n test"
I doubled the labels on the graph axes, to simulate translation to a different locale. Screenshot below of what it looks like. The placement of the labels is very obviously hardcoded for the English strings.

![screenshot_01](https://cloud.githubusercontent.com/assets/3046552/6406215/c7521b1e-bdea-11e4-8a13-9a073503c070.png)

[2015-02-27 02:09] pixelzoom commented on #15
Note that if phetsims/states-of-matter#48 is addressed, then atomic-interactions can quite legitimately depend on states-of-matter.

[2015-02-27 02:15] pixelzoom opened #18 ""look" problems with zoom buttons"
Because the zoom buttons for the graph have a white background:
(1) they can't possibly highlight when the mouse is over them (there is no color brighter than white)
(2) they can't look 3D

Consider using a different background color.

Compare with the same scenery-phet.ZoomButton used in ph-scale:

![screenshot_03](https://cloud.githubusercontent.com/assets/3046552/6406276/ae7baa6e-bdeb-11e4-8602

[2015-03-02 05:18] ChandrashekarBemagoni commented on #14
Fixed in above commits. Assigning to @pixelzoom  for review.

[2015-03-02 17:50] jbphet opened #19 "Credits are missing"
Credits need to be added for this sim.

[2015-03-02 17:51] pixelzoom commented on #14
Looks great, closing.

[2015-03-02 17:51] #14 closed

[2015-03-02 19:28] ycarpenterphet commented on #7
Looks like this is fixed in dev2. Closing.

[2015-03-02 19:28] #7 closed

[2015-03-02 19:43] ycarpenterphet commented on #10
It looks like a few issues have been solved (checked off in the list above), but a few remain.
- [x] The size of the graph has been fixed, but the alignment is incorrect - it needs to be moved down and to the right to match the spec shown.
- [x] The grey horizontal line in the center of the graph is still thicker than the other gridlines. It should look identical to any other gridline.

[2015-03-02 19:46] ycarpenterphet commented on #9
@kmsravindra Can you respond to @pixelzoom's comment, above, as to whether the alignment in the latest version allows for i8n support while maintaining this alignment?

[2015-03-02 20:12] phet-steele opened #20 "Oxygen Oxygen problem while in slow motion"
In 1.0.0-dev.2, while clicking and dragging the oxygen atoms into each other with slow motion enabled, they end up going crazy:

![atoinc](https://cloud.githubusercontent.com/assets/5863899/6449315/25341f30-c0dd-11e4-84ab-cbc36ab62a99.gif)

Seen on Win 8.1 browsers and iPad 2 (iOS 7)

Troubleshooting information:
Name: Atomic Interactions
URL: http://www.colorado.edu/physics/phet/dev/html/atomic-i

[2015-03-02 20:14] ycarpenterphet commented on #3
Is it possible for the label to be center-aligned relative to the graph axis? This would give the best match for the design.

[2015-03-02 20:22] ycarpenterphet commented on #5
Looks like the two panels now have the same width, but that the radio buttons in the top panel are now too close to the left edge compared to the design spec.

[2015-03-02 20:25] ycarpenterphet commented on #20
Looks like this wacky behaviour shows up in the Java sim too, likewise only when looking at Oxygen-Oxygen in slow-motion.

[2015-03-02 20:53] ycarpenterphet opened #21 "Atom color gradient should match Java sim (and design spec)"
The design spec and Java sim show atoms fading more quickly to black (or transparent), like so:
![screen shot 2015-03-02 at 1 43 43 pm](https://cloud.githubusercontent.com/assets/4682895/6450031/4e8d08ba-c0e2-11e4-9b57-3c64d9de9459.png)
![screen shot 2015-03-02 at 1 47 43 pm](https://cloud.githubusercontent.com/assets/4682895/6450102/c3140b2a-c0e2-11e4-971d-f9a9125869d2.png)

The current version o

[2015-03-02 20:57] ycarpenterphet commented on #21
Assigning to @jbphet to decide who should fix the color and opacity gradient.

Opacity/gradient: Not to spec.

Colors: It looks like the new colors match the "icon" colours used in atoms & molecules menu in https://github.com/phetsims/states-of-matter rather than the Java sim atom colors.The design spec does use the Java sim colors for the atoms, but we didn't explicitly say to do so, so I don't k

[2015-03-02 21:11] ycarpenterphet commented on #21
Also, the original colors were color-blindness checked, while the new ones make it difficult to distinguish between Argon and Oxygen atoms (see also https://github.com/phetsims/states-of-matter/issues/49)

[2015-03-02 21:27] ycarpenterphet commented on #21
Tagging @arouinfar as well, since I know she's currently adjusting the colors in the legend in https://github.com/phetsims/states-of-matter/issues/49 and the legend should match these Java sim colors as appropriate too, since the Interactions screen in States of Matter will show both.

[2015-03-02 21:35] ycarpenterphet opened #22 "Color of total force arrow should match color in Forces menu"
In dev 2, the force arrows on the atoms look like this:
![screen shot 2015-03-02 at 2 31 03 pm](https://cloud.githubusercontent.com/assets/4682895/6451073/420710c0-c0e9-11e4-93b3-ced39cba5e88.png)

It should instead match the color of the Total force arrow shown in the Forces menu:
![screen shot 2015-03-02 at 2 30 59 pm](https://cloud.githubusercontent.com/assets/4682895/6451080/52e0eff6-c0e9-11e4

[2015-03-02 21:47] ycarpenterphet opened #23 "Overlap between touch areas for Forces menu + Hide Forces radio button"
To conserve vertical space when we did the layout, we placed the Hide Forces option on the 'title' area of the Forces accordion box.

Unfortunately, the default behaviour of the accordion box is that touching anywhere in the 'title' bar opens/closes the accordion box. This seems to take priority, so it is basically impossible on a touch device to select 'Hide Forces'.

We either need to change the

[2015-03-02 22:03] pixelzoom commented on #23
@ycarpenterphet wrote:

This sounds like a bug in AccordionBox. When options.showTitleWhenExpanded === false, there should be no title bar when the box is expanded, and the box should be collapsable only via the collapse button.

[2015-03-02 22:04] ycarpenterphet opened #24 "Overlapping touch areas in the graph"
At small interaction strength, the touch areas on the graph for custom attraction settings become incredibly overlapped (both of the custom arrows, plus the bottom line (duplicates adjustment of interaction strength - we might consider amalgamating this with the vertical arrow control, rather than having duplicate controls that overlap), plus the graph marker indicating atom position).
![screen sh

[2015-03-02 22:04] ycarpenterphet commented on #24
Tagging @arouinfar to keep her in the loop too, since this will affect states of matter too.

[2015-03-02 22:04] pixelzoom commented on #23
Btw...  For the record, I really dislike the showTitleWhenExpanded feature of AccordionBox. Don't like the way it looks, behaves, or how it complicates the implementation with weird special cases.

[2015-03-02 22:11] pixelzoom commented on #23
AccordionBox is fixed. Clicking in the title area does nothing when showTitleWhenExpanded:false.

[2015-03-02 22:16] ycarpenterphet opened #25 "Improve look of projector mode"
Projector mode looks exactly as we specified in the design doc, but some polishing could be done to significantly improve the look.

(1) Have the gradient of the moveable atoms fade out to transparent instead of to black (this might actually be best generalized to the original atoms on black background, so that fewer changes need to be made or redrawn when we switch between modes).

(2) Add black

[2015-03-02 22:32] ycarpenterphet commented on #13
Looks fine. Closing.

[2015-03-02 22:32] #13 closed

[2015-03-02 22:46] ycarpenterphet commented on #12
The Return Atom button should appear after the <i>center</i> of the atom leaves the browser area (it should not require the whole atom to be out of view).

Also, the current behaviour seems to be a bit buggy.

<b>On a desktop: </b>
If I resize the browser window to the width of the dev area, I can drag the atom beyond the right edge of the screen without the return atom button appearing.
![screen

[2015-03-02 22:47] ycarpenterphet commented on #12
(also tagging @arouinfar since the outcome will affect https://github.com/phetsims/states-of-matter/)

[2015-03-02 22:51] ycarpenterphet opened #26 "Fix alignment of pause/play button"
Increase spacing between Slow Motion/Normal radio buttons and the "Play" button to better match the design document:
![playpause-16](https://cloud.githubusercontent.com/assets/4682895/6452541/a0a79e38-c0f3-11e4-8c46-59842df07985.png)

This should also fix the overlapping touch areas between these controls.

Also, adjust spacing between Play and "step forward" buttons to minimize or eliminate overl

[2015-03-02 22:52] ycarpenterphet commented on #10
(tagging @arouinfar so that she's in the loop on this one for states of matter too)

[2015-03-02 22:54] ycarpenterphet commented on #22
(tagging @arouinfar since this will also affect states-of-matter)

[2015-03-02 23:00] ycarpenterphet opened #27 "Oxygen-Oxygen graph marker not visible at lowest point"
When you switch to the Oxygen-Oxygen pair, the marker showing the position of the moveable atom is not visible on the graph even when fully zoomed out, and it should be, just as it is for any other pair of atoms.
![screen shot 2015-03-02 at 3 59 43 pm](https://cloud.githubusercontent.com/assets/4682895/6452781/2d013f82-c0f5-11e4-97f9-75efe4600ba4.png)

If needed, adjust the scaling of the vertical

[2015-03-02 23:16] ycarpenterphet commented on #23
@jbphet If you can publish a new dev version, I can verify if the accordion box fix solves this problem

[2015-03-02 23:23] ycarpenterphet commented on #4
This is improved in dev2, but still does not match the spec - sliders are taller than shown in the mockup, and both vertical and horizontal spacing need adjustment

[2015-03-02 23:38] ycarpenterphet opened #28 "Position of pin needs to be adjusted to match spec"
The Pin graphic should be positioned higher and to the left in the starting atom, as shown in the design doc:
![screen shot 2015-03-02 at 4 33 08 pm](https://cloud.githubusercontent.com/assets/4682895/6453329/16328716-c0fa-11e4-90cc-145060a33d04.png)

Compare: In dev2, the pin is positioned lower and further to the right:
![screen shot 2015-03-02 at 4 33 39 pm](https://cloud.githubusercontent.com/

[2015-03-02 23:47] ycarpenterphet opened #29 "Mouseover behaviour of "hand" should match behaviour of moveable atom"
When you mouseover the moveable atom, the mouse cursor changes to "hand" icon. For consistency, this should also happen when you mouseover the hand graphic that appears on the moveable atom at the start of the game.

[2015-03-02 23:51] ycarpenterphet commented on #29
Assigned to @jbphet to decide who should take this on, AND whether we should hold off until we finalize the hand graphic (e.g. we'll still need to see it in interview to know if it works, or whether we have to use a different graphic, or go back to the 'Move the atom' text)

[2015-03-02 23:57] ycarpenterphet opened #30 "Custom attraction should not reset to initial settings (unless Reset-All used)"
Currently, the Custom attraction settings (i.e. diameter and strength) reset to their initial settings when switching to another pair of atoms and then back to Custom. Note: This was unfortunately the behavior of the Java sim as well.

It makes more sense if settings and the position of the sliders would remain unchanged unless the student changes them deliberately or hits reset-all, so that a stu

[2015-03-02 23:59] ycarpenterphet commented on #30
Tagging @arouinfar as well since this will affect States of Matter too.

[2015-03-03 00:06] ycarpenterphet commented on #28
Tagging @arouinfar as well, since I know this will affect States of Matter.

[2015-03-03 00:06] ycarpenterphet commented on #26
Tagging @arouinfar as well since I know this will affect the interactions screen in states of matter.

[2015-03-03 00:09] ycarpenterphet commented on #25
Tagging @arouinfar on this as well - the design elements differ a bit between this and the interactions screen, but at least the change to the gradients on the large atoms will also affect States of Matter

[2015-03-03 02:05] ycarpenterphet opened #31 "Optimize horizontal scaling of graph (and atoms!)"
Reducing the atom diameter due to the decreased vertical spacing in the sim, and to avoid overlap with the graph has resulted in changed horizontal scaling of the graph (since the graph is intended to align with the atoms, sigma scales according to atom diameter (except oxygen), and sigma determines the left edge placement of the curve on the plot).

The consequence is that we now have a graph tha

[2015-03-03 02:07] ycarpenterphet commented on #31
@arouinfar You and I should tackle this, with some help in implementation from @jbphet, and possibly input from the rest of the team once we narrow down what our best case scenarios are. We'll want to wait until the sim matches the existing spec first, though, since the graph sizing and alignment is currently being tweaked already.

[2015-03-03 02:10] ycarpenterphet opened #32 "Revise pushpin graphic"
The pushpin looks more like it's floating on top of the atoms than pinning them, because the whole pin is visible (which looks great in the menu, but not great in context).

@arouinfar and I should probably discuss.

[2015-03-03 19:49] arouinfar opened #33 "Interaction potential for adjustable attraction too deep"
At the strongest setting, the epsilon arrow extends beyond the boundaries of the interaction potential graph and obscures the axis label. In the Java sim, the maximum well depth does not allow for this to happen. When the interaction strength is at its strongest, there should be no overlap between the epsilon arrow and the horizontal axis.

dev.4:
![image](https://cloud.githubusercontent.com/asset

[2015-03-03 19:51] arouinfar commented on #33
Accidentally submitted this to the wrong repository, so closing.

[2015-03-03 19:51] #33 closed

[2015-03-03 22:47] jbphet commented on #23
New version published, see http://www.colorado.edu/physics/phet/dev/html/atomic-interactions/1.0.0-dev.3/atomic-interactions_en.html.  Seems to me like the issue is fixed, but I'll assign to @ycarpenterphet for final verification.

[2015-03-03 23:00] ycarpenterphet commented on #23
Looks good. closing.

[2015-03-03 23:00] #23 closed

[2015-03-03 23:12] ycarpenterphet opened #34 "Horizontal adjustment arrow doesn't always stay with graph"
This is an existing issue in the Java sim, and has been carried through to the HTML5.

In the Custom Attraction mode, if the interaction strength is adjusted to be very small, the horizontal adjustment arrow is now floating and not attached to the curve:
![screen shot 2015-03-03 at 4 08 09 pm](https://cloud.githubusercontent.com/assets/4682895/6474643/c61c89ea-c1bf-11e4-81ad-cfdc761b6895.png)

Thi

[2015-03-03 23:42] ycarpenterphet commented on #34
Clarification - the position of the horizontal adjustment arrow is set by the value of sigma, since that's literally what it adjusts. We'll have to make a decision as to whether the horizontal arrow control should be longer, so that it stays with the curve too, especially if we move it higher up vertically to solve #24.

I'll try out a couple of options once we solve #24 to see which works best, b

[2015-03-04 00:12] ycarpenterphet opened #35 "Speed of moving atom significantly slower vs. Java sim"
There is an issue causing the atom to move slower than it should in the HTML5 sim (dev 3), even during "Normal" speed motion.

Details:
I originally thought this was due to the changed graph dimensions, but I compared the two sims by moving the Neon atom so that the two Neon atoms are just touching, and timed how long it took to return to this position once released.

The HTML5 sim takes roughly t

[2015-03-04 00:23] ycarpenterphet opened #36 "Arrows frozen in size when paused"
Current sim behaviour does not match the Java sim.

When the sim is paused, and the atom is moved the Force arrows should still change in proportion to the relative positions of the atoms.

For example, if I display the total force arrow, and then pause the sim, I see this:
![screen shot 2015-03-03 at 5 20 16 pm](https://cloud.githubusercontent.com/assets/4682895/6475614/9a11d22e-c1c9-11e4-9e0f-21

[2015-03-04 00:31] ycarpenterphet opened #37 "Force arrows on atoms should be partially transparent to match Java sim"
Current force arrows on the atoms are 100% opaque, which makes it difficult to see all of the information being displayed when they overlap:
![screen shot 2015-03-03 at 5 30 23 pm](https://cloud.githubusercontent.com/assets/4682895/6475751/00a63e2a-c1cb-11e4-8cd7-89bc3d537b42.png)

The updated colors look good, but please increase the transparency to mimic the Java sim implementation:
![screen sho

[2015-03-04 00:32] ycarpenterphet commented on #37
(tagging @arouinfar just to keep her in the loop, since this will also affect States of Matter)

[2015-03-04 00:32] ycarpenterphet commented on #36
(tagging @arouinfar just to keep her in the loop, since this will also affect States of Matter)

[2015-03-04 00:33] ycarpenterphet commented on #35
(tagging @arouinfar just to keep her in the loop, since this will also affect States of Matter)

[2015-03-04 00:39] ycarpenterphet opened #38 "Hand graphic on moveable atom should remain visible until an atom is moved"
Just like the "Move the atom" text/arrow in the Java sim, the hand graphic in the new sim should only disappear after an atom is moved (either by the user directly moving it, or by the user moving the dot on the graph):
![screen shot 2015-03-03 at 5 37 33 pm](https://cloud.githubusercontent.com/assets/4682895/6475824/06d350de-c1cc-11e4-8906-a5f067b61336.png)

If the user switches which atoms are i

[2015-03-04 00:40] ycarpenterphet commented on #38
(tagging @arouinfar just to keep her in the loop, since this will also affect States of Matter)

[2015-03-04 01:04] ycarpenterphet opened #39 "Adjustment controls on graph need to match design spec"
Compare the mock-up:
![screen shot 2015-03-03 at 5 55 00 pm](https://cloud.githubusercontent.com/assets/4682895/6476057/862a261c-c1ce-11e4-91e5-398311bad30d.png)

To the current HTML5 version:
![screen shot 2015-03-03 at 5 57 07 pm](https://cloud.githubusercontent.com/assets/4682895/6476086/d9317f18-c1ce-11e4-813c-87ce5692f5d6.png)

Note in particular that the horizontal green line should be thinn

[2015-03-04 01:13] ycarpenterphet commented on #16
Based on the i18n reports @pixelzoom made for the graph, I don't know if any of the recommended text translation handling specifications in the design doc were followed (see https://docs.google.com/document/d/1-2v8rQlwgWwqinYYiFu8PBIpRU7HL_InBIAtwpSzBMY/edit#heading=h.lw6yts2lgvdt)

Granted, I don't know if those are the best solutions in all cases (I think we'll still have i18n issues for the two

[2015-03-04 07:40] ChandrashekarBemagoni commented on #36
Fixed here https://github.com/phetsims/atomic-interactions/commit/e68f6562fb8c9fec18a3585522c064158b150ab9. Assigning to @ycarpenterphet for verification.

[2015-03-04 07:42] ChandrashekarBemagoni commented on #37
Fixed in above commit. Assigning to @ycarpenterphet for verification.

[2015-03-04 14:43] ChandrashekarBemagoni commented on #22
Fixed in above commit. Assigning to @ycarpenterphet for verification

[2015-03-04 16:48] pixelzoom commented on #16
i18n can be tested using the 'stringTest' query parameter, described in chipper.initialize-globals.js:

[code]

[2015-03-04 16:50] pixelzoom commented on #16
You may need a new dev version to use the stringTest query parameter, since it was added very recently.

[2015-03-04 17:07] jbphet commented on #16
v1.0.0-dev.3 supports the "stringTest" query param, see http://www.colorado.edu/physics/phet/dev/html/atomic-interactions/1.0.0-dev.3/atomic-interactions_en.html.

[2015-03-04 18:29] ycarpenterphet commented on #22
Verified. Closing.

[2015-03-04 18:29] #22 closed

[2015-03-04 23:58] jbphet commented on #29
I'd rather not hold off on this because the behavior strikes me as incorrect too, and it doesn't match the prompt in the Java sim.  The hand should disappear when the atom is initially dragged.  Assigning to ActualConcepts.

[2015-03-05 07:30] ChandrashekarBemagoni commented on #29
Fixed in above commit. Assigning to @jbphet for verification.

[2015-03-05 07:32] ChandrashekarBemagoni commented on #38
Fixed in above commit. Assigning to @ycarpenterphet for verification.

[2015-03-05 08:50] ChandrashekarBemagoni commented on #26
Fixed in above commit.Assigning to @ycarpenterphet  for verifcation

[2015-03-05 08:53] ChandrashekarBemagoni commented on #10
Fixed in above commit.Assigning to @ycarpenterphet for verification

[2015-03-05 08:59] ChandrashekarBemagoni commented on #9
Removed magic constansts var sliderTrackWidth = enableHeterogeneousMolecules ? 130 : 120;.
Now  force control panel  aliginment is i18n support.

[2015-03-05 08:59] ChandrashekarBemagoni commented on #9
Fixed in above commits. Assigning to @ycarpenterphet for verification

[2015-03-05 09:05] ChandrashekarBemagoni commented on #6
Fixed in above commits.Assigning to @ycarpenterphet  for verification

[2015-03-05 11:12] ChandrashekarBemagoni commented on #39
Fixed in above commits. Assigning to @ycarpenterphet  for verification

[2015-03-05 19:01] ycarpenterphet commented on #36
Looks fixed. Closing.

[2015-03-05 19:01] #36 closed

[2015-03-05 19:10] ycarpenterphet commented on #39
Looks great. Closing.

[2015-03-05 19:10] #39 closed

[2015-03-05 19:17] ycarpenterphet commented on #38
Issue with the hand disappearing when atoms are changed is fixed, thanks.

However, the hand <i>should</i> disappear when the atom is moved in any way, to match the Java simulation, as stated above:

This still needs to be resolved - assigning back to @ChandrashekarBemagoni.

[2015-03-05 19:34] ycarpenterphet commented on #29
Ah, actually, you brought up an interesting point @jbphet. In the Java sim, the "prompt" wasn't an interactive element that you could click and drag. So the prompt disappears when you 'grab' the atom, rather than when you release.

In the current sim, the hand currently is interactive - you can grab either anywhere on the atom or the hand in order to move the atom (which is why I asked that the mo

[2015-03-05 19:57] ycarpenterphet commented on #10
Getting closer, but still a few changes in order to match the mockup.

(1) The new alignment of the graph requires that the atoms be moved as well to match the design spec, since the center of the pinned atom should align with the left edge/axis of the graph in the mockup, and the center of the moveable atom should be aligned with the moving dot on the graph, just like in the Java sim and mockups.

[2015-03-05 20:01] ycarpenterphet commented on #26
Overlap issue is fixed. Closing.

[2015-03-05 20:01] #26 closed

[2015-03-05 20:04] ycarpenterphet commented on #5
Also, comparing the sim directly to the mockup, it appears that both panels are actually slightly narrower, and shifted to the right.

This is especially noticeable if the mockup is overlaid on top of the current version (mockup on bottom, current sim on top):
![screen shot 2015-03-05 at 1 02 25 pm](https://cloud.githubusercontent.com/assets/4682895/6513401/02d6b7ec-c338-11e4-85fa-bbd4a4b502b0.png

[2015-03-05 20:12] ycarpenterphet commented on #6
The size and alignment don't quite match the mockup yet:

Design document:
![screen shot 2015-03-05 at 1 07 23 pm](https://cloud.githubusercontent.com/assets/4682895/6513548/fd6fbe24-c338-11e4-9e2a-ad72be426461.png)

Current sim:
![screen shot 2015-03-05 at 1 10 52 pm](https://cloud.githubusercontent.com/assets/4682895/6513576/23bb30fe-c339-11e4-80b9-0379a4a80080.png)

Note especially the spacing

[2015-03-05 20:17] ycarpenterphet commented on #24
Also, now that the double-headed arrows are larger, we'll likely want to slightly decrease the buffer space in the touch areas on those, since their touch areas are now enormous.

[2015-03-06 20:07] jbphet commented on #21
I am going to leave this one assigned to me, since we are working to sort out the final colors and we can sit down together and tweak the gradient as needed once colors are finalized.

@ycarpenterphet - please note that using transparency in the gradients may have performance implications, so we'll need to test on slower devices and be ready to make tradeoffs between performance and optimal appear

[2015-03-06 20:16] jbphet commented on #8
I haven't examined the ported code in detail, but it seems to me the epsilon value isn't enough to explain the discrepancies in the behavior between the HTML5 sim and the Java sim.  Oxygen bonding is handled as a special case in the code, and it looks like something didn't quite get translated correctly in the HTML5 version.  It may be that the special case expected a certain epsilon value and now

[2015-03-06 23:53] ycarpenterphet commented on #21
When we optimize the transparency, we'll also need to keep in mind the visibility of the force arrows, which are overlaid on top of the atoms.

[2015-03-06 23:54] ycarpenterphet commented on #37
Looks good, thanks! Closing.

[2015-03-06 23:54] #37 closed

[2015-03-09 07:46] ChandrashekarBemagoni commented on #11
Fixed in latest code.Assigning to @ycarpenterphet  for verification.

[2015-03-09 13:58] ChandrashekarBemagoni commented on #38
Fixed in above commit. Assigning to @ycarpenterphet  for verification.

[2015-03-09 13:59] ChandrashekarBemagoni commented on #28
Fixed in latest code. Assigning to @ycarpenterphet  for verification

[2015-03-10 14:40] ChandrashekarBemagoni commented on #10
Fixed in above commits. Assigning to @ycarpenterphet  for verification

[2015-03-10 14:42] ChandrashekarBemagoni commented on #6
Fixed in above commits . Assigning to @ycarpenterphet  for verification

[2015-03-11 16:19] jbphet commented on #15
The images, strings, and much of the JavaScript code for this sim has been moved to the states-of-matter repository, since the atomic-interactions sim is also a screen in that sim, and since we PhET developers have decided that this will be our general approach for this situation, i.e. the "parent sim" should contain all the screens and the "subset sim" should obtain its resources from the parent

[2015-03-11 16:19] #15 closed

[2015-03-11 17:42] pixelzoom opened #40 "sim has no strings file"
Broken by phetsims/atomic-interactions#15.

atomic-interactions has no strings file and it's title is defined in states-of-matter. This causes the build tasks that generate README.md to fail. (And unclear how Rosetta will behave for a sim with no strings file.)

[2015-03-11 17:44] pixelzoom commented on #40
Fixed, assigning to @jbphet to review.

[2015-03-11 17:46] pixelzoom opened #41 "missing dependency on states-of-matter in package.json"
Broken by #15.

[2015-03-11 17:47] pixelzoom commented on #41
Fixed, closing.

[2015-03-11 17:47] #41 closed

[2015-03-11 17:59] jbphet commented on #40
I was using the Concentration sim as a model, and it didn't have a strings file as of yesterday.  I see that it now has one, and that all sims require one for the generation of the README.md file to work.  So, this fix seems fine to me.  Closing.

[2015-03-11 17:59] #40 closed

[2015-03-11 20:44] jbphet commented on #1
This was fixed locally (see commits above) and then the code was moved into the states-of-matter repository (see #15 and https://github.com/phetsims/states-of-matter/issues/48), so all should now be in accordance with our current policies for directory structure and resource location.  Closing.

[2015-03-11 20:44] #1 closed

[2015-03-11 20:51] jbphet commented on #29
The mouseover behavior is verified in the current master branch, and since @ycarpenterphet feels like the other aspects of the behavior are correct, all concerns mentioned in this issue have been addressed.  Closing.

[2015-03-11 20:51] #29 closed

[2015-03-12 16:23] ycarpenterphet commented on #28
Looks good. Closing.

[2015-03-12 16:23] #28 closed

[2015-03-12 16:25] ycarpenterphet commented on #38
Looks good, thanks. Closing.

[2015-03-12 16:25] #38 closed

[2015-03-12 16:36] ycarpenterphet commented on #11
Looks good - closed.

[2015-03-12 16:36] #11 closed

[2015-03-12 16:46] ycarpenterphet commented on #18
The updated colors look fine - but we'll want to keep an eye out in interview to make sure that the yellow zoom button on the black background isn't overly tempting for students in their initial explorations. I think we'll be just fine, but I'll check when we do get to the interview phase.

[2015-03-12 16:46] #18 closed

[2015-03-12 16:58] ycarpenterphet opened #42 "Remove white border around option panels"
The panels on the right-side of the screen (where you select the atoms or forces) both currently have a white stroke border around them which was not present in the mockup.

Can this be removed?

[2015-03-12 17:14] ChandrashekarBemagoni commented on #27
Fixed in latest code. Assigning to @ycarpenterphet  for verification

[2015-03-12 17:16] ChandrashekarBemagoni commented on #12
Fixed in above commits. Assigning to @ycarpenterphet  for verification

[2015-03-12 17:30] ChandrashekarBemagoni commented on #42
Fixed in above commit. Assigning to @ycarpenterphet for verification

[2015-03-13 03:05] ycarpenterphet commented on #2
I think all issues related to the sim aligning with the spec in appearance or behaviour have now been reported as separate issues. Closing this parent task.

[2015-03-13 03:05] #2 closed

[2015-03-13 14:26] ChandrashekarBemagoni commented on #4
Fixed in above commits. Assigning to @ycarpenterphet  for verification

[2015-03-13 14:28] ChandrashekarBemagoni commented on #3
Fixed in above commit. Assigning to @ycarpenterphet  for verification

[2015-03-15 19:16] ycarpenterphet commented on #42
Looks good, thanks. Closing.

[2015-03-15 19:16] #42 closed

[2015-03-15 19:19] ycarpenterphet commented on #12
Looks fixed. Closing.

[2015-03-15 19:19] #12 closed

[2015-03-15 19:23] ycarpenterphet commented on #4
Looks good. Closing.

[2015-03-15 19:23] #4 closed

[2015-03-15 19:39] ycarpenterphet commented on #27
The fix looks like it might have led to a bit of buggy behavior. If you zoom out fully, and then start dragging the oxygen atom, the marker does not travel smoothly along the curve on the graph like it did in the Java version. There is a point where the marker still disappears.

![untitled](https://cloud.githubusercontent.com/assets/4682895/6657685/950222a4-cb18-11e4-9525-0d27aa863f7b.gif)

[2015-03-15 19:55] ycarpenterphet commented on #3
Looks good, even when tested for i18n compatibility. Closing.

[2015-03-15 19:55] #3 closed

[2015-03-15 20:00] ycarpenterphet commented on #16
As of dev6, this is what the sim looks like when string lengths are doubled:
![screen shot 2015-03-15 at 1 55 40 pm](https://cloud.githubusercontent.com/assets/4682895/6657764/1671f0ec-cb1b-11e4-9f61-18b81604025e.png)

These strings look ok:
Horizontal axis label (Distance between atoms)
Speed controls (Normal/Slow Motion)
Sim title in the navbar

None of the other strings seem to handle i18n, eit

[2015-03-15 20:06] ycarpenterphet commented on #6
Looks good. Closing.

[2015-03-15 20:06] #6 closed

[2015-03-15 20:09] ycarpenterphet commented on #9
Looks good. Closing.

[2015-03-15 20:09] #9 closed

[2015-03-15 21:35] ycarpenterphet commented on #17
Horizontal axis label looks like it's fixed now, but the vertical label runs over the available length and behind the zoom buttons.

[2015-03-15 23:21] ycarpenterphet commented on #10
Looks great, thanks. Closing.

[2015-03-15 23:21] #10 closed

[2015-03-15 23:37] ycarpenterphet commented on #5
As of dev6, it looks like the width of the top panel is a good match for the design specifications, and the alignment issue has been corrected.

However, the top panel is again slightly narrower than the bottom panel.

[2015-03-20 15:44] jbphet commented on #16
Just tested this on the current master version and it looks like the scaling is implemented and working.  Note that this approach results in mismatched fonts for long strings, but that is unavoidable when scaling is done.  The screenshot below illustrates.  Assigning back to @ycarpenterphet to decide whether this needs any more attention.  If not, she can close.

![ai-doubled-strings](https://clou

[2015-03-27 13:35] ChandrashekarBemagoni commented on #27
Fixed in above commits. Assigning to @ycarpenterphet for verification

[2015-03-27 13:36] ChandrashekarBemagoni commented on #5
Fixed in above commit .Assigning to @ycarpenterphet for verification

[2015-04-16 16:33] ycarpenterphet opened #43 "Pushpin changes position when custom attraction is the first option selected"
If the sim is loaded and then the Custom Attraction option is selected, the pushpin graphic changes position - which should not happen.
![screenshot 2015-04-16 10 30 34](https://cloud.githubusercontent.com/assets/4682895/7185984/bb9eb8a4-e423-11e4-9c75-59a36df180c0.png)

This does not happen if another atom combination is selected first (e.g. select Neon-Argon before selecting Custom Attraction),

[2015-04-16 17:50] ycarpenterphet commented on #43
It looks like this is probably connected to how #28 was fixed.

[2015-04-16 17:53] ycarpenterphet commented on #5
Widths are now the same, thanks. Opening a new issue for other menu changes needed to match spec.

[2015-04-16 17:53] #5 closed

[2015-04-16 17:56] ycarpenterphet opened #44 "Alignment of radio buttons"
According to the design document, the radio buttons in the top menu should be aligned horizontally with the radio buttons in the Forces menu:

Design:
![image](https://cloud.githubusercontent.com/assets/4682895/7187674/74b77924-e42f-11e4-88c3-3588b427dfce.png)

Currently, they are too far to the left. Please shift the top radio buttons to the right to fix this alignment issue.

[2015-04-16 17:59] ycarpenterphet opened #45 "Rounded corners on top and bottom menus are different"
Is it possible to ensure that the rounding of the corners in the top (atoms) and bottom (forces) menus are the same, and match the design specifications more closely:

Specifications from design doc:
![image](https://cloud.githubusercontent.com/assets/4682895/7187717/e3ae492a-e42f-11e4-893b-7c54a8bd0f23.png)

Current sim corners:
![screenshot 2015-04-16 11 58 48](https://cloud.githubusercontent.co

[2015-04-16 18:08] ycarpenterphet opened #46 "Increase vertical spacing of text in top menu + menu height"
Please increase the vertical spacing between text labels to more closely match the original specification:
![screenshot 2015-04-16 12 02 46](https://cloud.githubusercontent.com/assets/4682895/7187802/825d1b46-e430-11e4-8dbe-e3b289bcee3d.png)

Notice, for example, that the Atom Diameter label is currently vertically too close to the Custom Attraction radio button, and should have more buffer space

[2015-04-16 18:13] ycarpenterphet commented on #27
Behaviour is still not consistent with what might be expected in the Java sim, and the marker does not travel smoothly along the curve when the atom is dragged.

I am not certain if this is due to estimations required to position the atom in this much deeper well, but the marker should move smoothly tracking along a roughly parabolic path.

Currently, moves almost directly horizontally at one poin

[2015-04-16 18:23] ycarpenterphet commented on #16
I am ok with the mismatch in font sizes due the the variation in string length, but the scaling parameter choices are not very good in some cases, making the text much smaller than is necessary to fit.

For example, the weak/strong labels on the slider have plenty of space to expand horizontally before the text size is reduced. Same for the Atom Diameter and Interaction Strength labels.

In the fo

[2015-04-16 18:51] ycarpenterphet commented on #17
The vertical graph axis label is much improved, but still is allowed to run behind the bottom zoom button.

[2015-04-17 14:05] ChandrashekarBemagoni commented on #45
Fixed in above commit .Assigning to @ycarpenterphet for verification

[2015-04-17 14:06] ChandrashekarBemagoni commented on #46
Fixed in above commit .Assigning to @ycarpenterphet for verification

[2015-04-17 14:06] ChandrashekarBemagoni commented on #44
Fixed in above commit .Assigning to @ycarpenterphet for verification

[2015-04-17 14:07] ChandrashekarBemagoni commented on #43
Fixed in above commit.Assigning to @ycarpenterphet for verification

[2015-04-17 14:07] ChandrashekarBemagoni commented on #35
Fixed in above commit.Assigning to @ycarpenterphet for verification

[2015-04-17 14:09] ChandrashekarBemagoni commented on #17
Fixed in above commit. Assigning to @ycarpenterphet for verification

[2015-04-28 16:31] pixelzoom opened #47 "atomic-interactions does not build"
[code]

[2015-04-28 20:58] pixelzoom commented on #47
states-of-matter is missing from package.json phetLibs.

[2015-04-28 21:01] pixelzoom commented on #47
Verified, closing.

[2015-04-28 21:01] #47 closed

[2015-05-07 22:37] ycarpenterphet commented on #45
Looks good. Closing.

[2015-05-07 22:37] #45 closed

[2015-05-07 22:50] ycarpenterphet commented on #43
Looks fixed, thanks. Closing.

[2015-05-07 22:50] #43 closed

[2015-05-07 22:53] ycarpenterphet commented on #44
Looks fine, thanks. Closing.

[2015-05-07 22:53] #44 closed

[2015-05-07 22:54] ycarpenterphet commented on #46
Looks much improved. Closing.

[2015-05-07 22:54] #46 closed

[2015-05-08 19:06] ycarpenterphet commented on #35
It now appears that the atom is moving 2x faster than the Java sim.

@ChandrashekarBemagoni, can you investigate the cause and see if we can more closely match the movement speed observed in the Java sim?

[2015-05-08 19:08] ycarpenterphet commented on #17
The graph axis labels look good when tested for i18n now. Thanks. Closing.

[2015-05-08 19:08] #17 closed

[2015-05-08 19:26] ycarpenterphet commented on #8
@notsiddhartha Just checking in with this issue, especially parts (1) and (2) reported initially.

Can you comment on how things are progressing?

[2015-05-08 19:26] ycarpenterphet commented on #27
@ChandrashekarBemagoni Can you comment on how things are progressing with this issue?

[2015-05-08 19:27] ycarpenterphet commented on #16
@ChandrashekarBemagoni Can you comment on progress with resolving the remaining translation handling issues?

[2015-05-11 05:41] ChandrashekarBemagoni commented on #35
Fixed in above commit Assigning to @ycarpenterphet for verification

[2015-05-11 12:00] ChandrashekarBemagoni commented on #16
In Hslider there is no option for aligning the label w.r.t the tick. Currently, text always center aligns on the tick.
Increasing the text scale factor increases the panel width as well and that leads to alignment mismatch between the top and bottom panels.

A better solution will probably be to add label alignment options to HSlider.
@jbphet what do you think?

[2015-05-11 14:24] notsiddhartha commented on #8
(1) The left atom stops vibrating after a while, but it currently takes longer than the corresponding Java version. Investigating the cause for this.
(2) Cannot reproduce any more.

[2015-05-11 15:14] jbphet commented on #16
Having such an option for HSlider seems like a good possibility.  Since this would be a common code change, PhET will need to take it on.  Reassigning to @ycarpenterphet to see if she feels that this would be worth doing for this particular sim, which will help us prioritize the modifications to HSlider.

[2015-05-12 06:20] ChandrashekarBemagoni commented on #27
Fixed in above commit. Assigning to @ycarpenterphet for verification

[2015-05-12 13:30] ChandrashekarBemagoni commented on #8
Fixed in above commit. Assigning  to @ycarpenterphet for verification

[2015-05-18 15:25] jbphet commented on #8
Assigning to @phet-steele to test, he can close if behaviors compare well.

[2015-05-18 17:07] phet-steele commented on #8
Looking at (1), this was hard to check. The occasional times when bonding occurred, the pinned atom does stop vibrating but takes about twice the time to stop when compared to java (and also has much more violent vibrations). The reason why (1) was hard to check was because at nearly any distance I dragged the right molecule out, the atom escaped instead of bonding.

(3) is consistent with java.

[2015-05-19 18:06] notsiddhartha commented on #8
@phet-steele, I have timed the bonding vibration duration of Java and HTML versions using a stopwatch and they seem to be in the 1-2 second range for both. Though this method is not very accurate, I didn't observe the HTML version taking twice as longer (Win 7, Chrome, Firefox).
Could you let us know on which OS and browser combination this was observed?

[2015-05-20 15:39] phet-steele commented on #8
Well yesterday and today the time between the Java and HTML version was similar, so I'm going to say it's no longer an issue. The two problems I'm having are inconsistent distances that cause the atom to escape instead of bond, and the occasional time when the one atom moves to the right first then back to the left and bonds. Neither of these are seen in Java. I'm using Win 8.1 (IE11, FF 38, Chrom

[2015-05-28 22:35] ycarpenterphet commented on #27
Fantastic. Closing.

[2015-05-28 22:35] #27 closed

[2015-05-28 22:51] ycarpenterphet commented on #35
This now looks comparable. Thanks, closing!

[2015-05-28 22:51] #35 closed

[2015-05-28 22:55] ycarpenterphet commented on #16
@jbphet I think this is worthwhile for this simulation, since the fonts are already so tiny for the tick labels (because of vertical space constraints), so any more space we can use (by allowing for alignment) before we have to shrink the font will substantially improve the usability of this sim on translation.

[2015-07-07 00:16] ycarpenterphet commented on #34
Flagging this as something for @arouinfar to watch for in interviews - if there are no issues in interview with the interface as is, we can close this issue.

[2015-07-10 20:22] ycarpenterphet commented on #25
Looks like the only outstanding issue here is the gradient on the atoms

[2015-07-10 20:25] ycarpenterphet commented on #34
This is much improved now that the adjustment arrows are larger. Likely won't be an issue.

[2015-07-10 20:34] ycarpenterphet commented on #8
Now, the pinned atom vibration looks larger and more stilted than in the Java. Also, the continued vibrations of the unpinned atom are so small that they basically can't be seen. This is a big problem, since students need to be able to see this vibration.

(cc @arouinfar)

[2015-08-20 03:26] jonathanolson opened #48 "The dragged graph particle can become detached from mouse"
Steps to reproduce:
1. Drag the particle on the graph
2. Move it far to the left (the particle will be stuck at some point)
3. Move it to the right again. The particle will be far to the left of the mouse

![atomic-interactions-bug](https://cloud.githubusercontent.com/assets/480878/9375002/025f8db6-46b9-11e5-8a60-393c66b726a0.PNG)

[2015-08-21 17:55] jbphet opened #49 "fuzz testing errors - uncaught assertion and undefined property"
I just ran the test-server, and Atomic Interactions is failing the fuzz test.  Looks like there are two separate errors:

[code]
and:
[code]

[2015-08-24 20:31] jbphet commented on #49
I just set this up for fuzz testing for a while, and so far (about an hour), I'm unable to duplicate.  I also ran the test-server a few times, and the automated testing of this sim passed each time.  I know ArrowShape was undergoing some changes, so maybe at least one of these was caused by a temporary situation.

[2015-08-25 16:01] pixelzoom opened #50 "atomic-interactions fails lint"
[code]

[2015-08-25 18:21] pixelzoom commented on #50
Fixed by https://github.com/phetsims/states-of-matter/issues/105. Closing.

[2015-08-25 18:21] #50 closed

[2016-05-19 20:28] aadish commented on #49
cannot replicate it closing

[2016-05-19 20:28] #49 closed

[2016-06-02 19:57] brroberts1231 opened #51 "Thermometer remains at absolute zero after adding moving atoms"
For phetsims/tasks#609
Test device: Bates

Operating System: Windows 7

Browser: Chrome

Problem description: In the phase changes screen, if there are no atoms in the container, the thermometer will read 0 K, which is valid. But then if you pump in new atoms, they will be moving around, but the thermometer will still read 0 K, which would only be correct if the atoms are not moving. The pressure

[2016-06-02 20:02] brroberts1231 commented on #51
Sorry put this in the wrong page. Supposed to be for States of Matter

[2016-06-02 20:02] #51 closed

[2016-06-03 16:21] phet-steele commented on #48
@aadish mouse is staying attached on Mac OSX 10.11.5 Chrome.

[2016-06-03 16:21] #48 closed

[2016-06-03 16:32] phet-steele commented on #30
@aadish This is working for the case of the Interaction screen, but not in the Phase Changes screen in SOM. Making a new issue in the appropriate repo and closing this one.

[2016-06-03 16:32] #30 closed

[2016-06-09 21:17] brroberts1231 commented on #20
For phetsims/tasks#612 Seen on Win 7 browsers.
Still happens to a slightly lesser extent in dev.10. The pinned atom still jiggles somewhat violently, but now only on the horizontal.
Also, after repeatedly dragging the moving atom into the pinned one, sometimes the pinned one would either move to a place where it's not supposed to be, or disappear entirely.

Screenshots: Recorder is unable to get a

[2016-06-13 16:18] alynne-phet opened #52 "Pin button moves to different locations when on the custom attraction option"
For phetsims/tasks/issues/612
Test Device: Personal Laptop
Operating System: Mac OSX 10.11.5
Browser: Chrome

Problem Description: On the custom attraction option, the pin button moves to different locations. Occasionally it is directly on top of the atom, whereas other times it isn't even touching the atom.

Steps to Reproduce:
1. Select the custom attraction option
2. Move the atom diameter to t

[2016-06-13 18:07] alynne-phet commented on #52
Moved to phetsims/states-of-matter/issues/130

[2016-06-13 18:07] #52 closed

[2016-07-05 20:12] phet-steele commented on #8
@arouinfar this issue is the bane of my existence, so I'll pass it off to you with this question:
Above, Yuen-ying stated

I feel it is the case in 1.0.0-dev.7 that the vibrations are indeed obvious to the student, however, said vibrations in HTML5 and _insanely_ faster than Java. Thoughts on whether that's a problem? Is one of the versions more accurate than the other?

[2016-07-07 17:41] arouinfar commented on #8
@phet-steele I consulted with @amyh-phet, since this is more in her wheelhouse.

In general, the speed of the vibration is not important, so long as the vibration can be seen. HOWEVER, the vibration looks far less obvious in  dev.10 than in the Java version. When the unpinned atom is vibrating alone, it looks more like it has a shadow behind it than it is in motion.

Currently, the layering of the

[2016-07-26 18:39] jbphet commented on #19
Assigning to @ariel-phet to check over the credits and recommend any updates or close.

[2016-07-26 22:39] ariel-phet commented on #19
All looks good but I should be "Ariel" not "Arial"

[2016-07-27 15:25] jbphet commented on #24
This has been in "status:fixed-pending-testing" status for a while, so I will assign to @phet-steele to verify.  He can delegate if he likes, since I think he's at a conference.

I just tested it, and it looks good to me.  Note that it doesn't matter if there if overlap for the touch areas for the arrow and the horizontal bar that controls the depth of the well (epsilon) since they both control th

[2016-07-27 15:32] jbphet commented on #19
Oops.  Fixed. Closing.

[2016-07-27 15:32] #19 closed

[2016-07-27 15:35] jbphet commented on #16
Assigning to @phet-steele to verify, he should delegate if he doesn't currently have time.

[2016-07-27 16:08] phet-steele commented on #24
@brroberts1231 might have a chance to look at this before me, assigning to him.

[2016-07-27 16:16] phet-steele commented on #16
@jbphet I took another pass, this sim is 👍

[2016-07-27 16:16] #16 closed

[2016-07-27 17:48] jbphet opened #53 "improve the hand artwork"
The hand that cues users to grab the movable atom looks a bit odd, and could be improved.  @ariel-phet and I discussed this, and he requested that I create an issue and assign it to him, so here it is.

Here is a screenshot that shows what the hand currently looks like:
![atomic-interaction-hand](https://cloud.githubusercontent.com/assets/3082831/17185846/f922e974-53ef-11e6-937d-829f39e5f60b.PNG)

[2016-07-27 21:49] ariel-phet commented on #53
I think we want something a bit more like this

![141-512](https://cloud.githubusercontent.com/assets/4051174/17193749/ae23cf48-5411-11e6-8191-fca677fa55f2.png)

[2016-07-27 21:50] ariel-phet commented on #53
And perhaps we should use a dark-ish gray stroke, so that it will have contrast on the black background and the atom.

[2016-08-01 15:59] phet-steele commented on #24
@jbphet  magnifique

[2016-08-01 15:59] #24 closed

[2016-08-01 23:02] jbphet commented on #8
This should now be fixed, assigning to @phet-steele to verify on master.

[2016-08-01 23:03] jbphet commented on #8
I forgot that this repo is separate from the one where most of its code resides, so the commit was not properly referenced.  The fix was committed here: https://github.com/phetsims/states-of-matter/commit/717c75759bc98c8c89e83ecab116fccc8de08605

[2016-08-01 23:05] jbphet commented on #20
This should now be fixed, assigning to @phet-steele to verify.

[2016-08-01 23:37] jbphet opened #54 "oxygen atom can't achieve escape velocity, different from Java sim"
In the original Java version of this sim, when Oxygen-Oxygen is the selected atom pair, it is possible to make the movable oxygen atom achieve "escape velocity" and go flying off the screen by grabbing it and moving it as far left as possible.  One of the design changes that was made for the HTML5 version was to make the oxygen-oxygen potential well far deeper, which is more realistic, but this ma

[2016-08-01 23:59] arouinfar commented on #54
@jbphet I'm actually not sure how important the escape velocity feature is to the learning goals, since this is a little outside of my area of expertise. I wonder if this could also be related to #31.

@amyh-phet can you take a look at this issue and chime in?

[2016-08-02 13:37] amyh-phet commented on #54
@jbphet  and @arouinfar    I'm looking into this but am having trouble getting the VPN to work so I can look at the sim.   My initial hunch is that something strange is happening here, but want to take a more in depth look.  I'll try to get to this today.

[2016-08-02 13:50] amyh-phet commented on #54
@jbphet  or @arouinfar   Do either of you have access to the design doc?  I don't see anything in the learning goals related to escape velocity, but I find it strange that the atoms don't repel apart when you move them close together. Just don't want to introduce a misconception for students.  I was hoping to look at the design doc to see if learning goals have changed and to get an idea of the th

[2016-08-02 15:19] phet-steele commented on #20
@jbphet seems swell 😄

[2016-08-02 15:19] #20 closed

[2016-08-02 15:21] phet-steele commented on #8
Points in the first comment look addressed, anything remaining is handled in other issues, like #54

[2016-08-02 15:21] #8 closed

[2016-08-02 16:20] arouinfar commented on #54
It looks like you found the design doc @amyh-phet. I know some changes had to be made because the oxygen-oxygen well was not deep enough in the Java version.

Looking at it again, I'm also finding this a bit strange. However, I think we could make the argument that oxygen-oxygen well is deep enough that the repulsive force is not strong enough to kick out the unpinned atom.

[2016-08-02 16:20] jbphet commented on #54
Part of the design info is in the States of Matter design doc, see https://docs.google.com/document/d/1JX9GI0SA_3diRIrqk60CPu-Ly3SVG2bWBxCuDUXO0xc/edit.  I'm not seeing a separate doc for Atomic Interactions, but I thought there was one, so perhaps @arouinfar can track it down.

In response to @amyh-phet's question, the atoms **do** repel in most cases, just not in the oxygen-oxygen case.  That's

[2016-08-02 16:22] arouinfar commented on #54
@jbphet it looks like the design doc for Atomic Interactions is shared with the group. You can find it here https://docs.google.com/document/d/1-2v8rQlwgWwqinYYiFu8PBIpRU7HL_InBIAtwpSzBMY/edit

[2016-08-02 16:45] arouinfar commented on #54
In the Outstanding Questions section of the doc, I found a comment Carl made in 2012:

In this case, I believe Carl is referring to moving the oxygen atoms very close together, such that the tracking dot is above the x-axis like this:
<img width="642" alt="screen shot 2016-08-02 at 10 40 36 am" src="https://cloud.githubusercontent.com/assets/8419308/17336929/a60038c0-589d-11e6-9df7-7786d10cd83a.pn

[2016-08-02 16:49] amyh-phet commented on #54
@jbphet    I agree with @arouinfar.  Because students can drag the oxygen atom to the left enough to move out of the potential energy well, the oxygen atoms should repel apart, causing the unpinned oxygen atom to achieve "escape velocity".   As @arouinfar mentioned, this is directly related to a learning goal, and not modeling this behavior would be incorrect scientifically and also potentially ca

[2016-08-02 17:12] jbphet commented on #54
Okay, thanks for looking into this - I'll add code to allow the movable oxygen atom to move away.

[2016-08-02 22:34] jbphet commented on #54
I've added code to allow the movable oxygen atom to escape when pushed up against the pinned atom.  It now matches the behavior of the Java sim pretty well.  I think our work here is done, closing.

[2016-08-02 22:34] #54 closed

[2016-08-03 17:23] jbphet commented on #25
This issue has been sitting around for a while, and @arouinfar recently created an issue for projector mode colors in States of Matter, see https://github.com/phetsims/states-of-matter/issues/135.  Assigning to @arouinfar to determine whether there is anything additional that needs to be done for Atomic Interactions or if the SOM issue and what has been done so far covers it.

[2016-08-03 17:44] arouinfar commented on #34
It looks like this issue has already been resolved. The horizontal adjustment arrow stays tied to the curve, and has a generous touch area.

![image](https://cloud.githubusercontent.com/assets/8419308/17375686/5336430a-596f-11e6-959b-c398cf84b2ca.png)  ![image](https://cloud.githubusercontent.com/assets/8419308/17375676/45050672-596f-11e6-96f1-743079b8f04f.png)

I'm going to go ahead and close thi

[2016-08-03 17:44] #34 closed

[2016-08-03 17:45] arouinfar commented on #32
@jbphet I think I can make the tweaks to the artwork myself. I'll go ahead and give it a try.

[2016-08-03 17:50] arouinfar commented on #31
@jbphet I'd like to talk this over with a chemist -- probably @amyh-phet to see what needs to be prioritized here.

[2016-08-03 17:55] arouinfar commented on #25
Aside from the gradient on the atoms that YY pointed out, I think the only other thing we'd need to change is the color of the potential curve. Yellow on white is unlikely to project well, so let's keep the red color used in the regular mode.

@jbphet how are the atoms generated? Is it artwork, or something done in code?

[2016-08-03 21:10] arouinfar commented on #32
Perhaps if we adjusted the perspective a bit we'd avoid the float-y look.

Adjusted (left) vs. Original (right)
![image](https://cloud.githubusercontent.com/assets/8419308/17382054/4d85087a-598c-11e6-8252-4ecb751eb31e.png)

I'll email @jbphet the updated push pin asset for implementation.

[2016-08-04 20:37] arouinfar commented on #31
Spoke with @amyh-phet about this issue and we've decided try the following:
- Chop off 2/3 of the last column to reduce the tail
- Rescale the graph to fill in <i>some</i> of the lost space (requires rescaling the atom size)
- Reduce maximum atomic diameter allowed for adjustable attraction by ~20% to make up for lost vertical space

I will play with the mockups to see how this will look.

[2016-08-04 22:59] jbphet commented on #32
The new artwork is integrated and I reviewed it in situ with @arouinfar and she gave it the thumbs up.  Closing.

[2016-08-04 22:59] #32 closed

[2016-08-05 22:06] arouinfar commented on #53
How about something like this @ariel-phet @jbphet?
![image](https://cloud.githubusercontent.com/assets/8419308/17451293/eb62bfaa-5b22-11e6-9181-622ec24c6322.png)

[2016-08-06 08:32] ariel-phet commented on #53
Yes, that looks much better to me!

[2016-08-08 15:14] arouinfar commented on #53
I've sent the artwork to @jbphet to implement.

[2016-08-08 22:25] arouinfar commented on #31
@amyh-phet and I have discussed this issue a bit more, and given the rather significant changes that would be required to re-scale the graph, we've decided to put this on hold until after the sim is interviewed on.

I'll be scheduling interviews for later this week. If I observe any significant student difficulties related to this issue, we can reconsider what changes will be necessary.

If the in

[2016-08-09 19:05] jbphet commented on #53
New artwork is integrated, closing.

[2016-08-09 19:05] #53 closed

[2016-08-12 18:15] arouinfar opened #55 "Cannot drag oxygen-oxygen tracking dot along curve"
In dev.11 I am unable to drag the oxygen-oxygen tracking dot along the potential curve.

For other pairs (like argon-argon), I can drag the dot along the curve. However, I cannot do the same for oxygen-oxygen, though I can move the unpinned atom.
![trackingdot](https://cloud.githubusercontent.com/assets/8419308/17632473/aeff3954-6085-11e6-9719-d768ca5f8739.gif)

By the way, I had the sim paused wh

[2016-08-12 18:58] arouinfar opened #56 "Oxygen-oxygen violates energy conservation"
Observed in dev.11. I believe @jbphet and I have talked about this before, but I couldn't track down the relevant issue to reopen.

If the unpinned oxygen is released somewhere within the well, it sometimes jumps out of the well. This violates energy conservation. This could be a legacy bug, since I've seen it in the Java version too.

I also have a concern that the oxygen settles to the bottom of

[2016-08-12 19:15] arouinfar commented on #31
I conducted two interviews on this sim this week. Students often move the unpinned atom towards the pinned one, let go, watch it repel, catch it on the tail of the potential, and then move it towards the pinned atom again.

A few times, students dragged the upinned atom out along the tail, let go for about a second, and then dragged the unpinned atom back towards the pinned one. It wasn't clear if

[2016-08-12 19:32] amyh-phet commented on #56
@arouinfar. Happy to look into this.  Likely won't t get back to you until Monday.  Let me know if you need an answer sooner.

[2016-08-12 19:45] arouinfar commented on #56
Monday should be fine @amyh-phet!

I know that jumping out of the well definitely violates energy conservation, but it's less clear to me if settling at the bottom of the well is also problematic.

[2016-08-15 17:35] jbphet commented on #56
If I recall correctly, settling at the bottom of the well was part of the design.  This is why the pinned atom vibrates - as a way to indicate that the energy is going somewhere.  In real life, I believe the energy often goes into the kinetic energy of the newly bonded pair of atoms.

The teacher tip document says, "When the bond forms, the shaking of the left atom is meant to
represent the energy

[2016-08-15 20:54] amyh-phet commented on #56
@jbphet  and @arouinfar    I'm okay with the behavior that leads to settling at the bottom of the well.   I do think we need to address the the issue of the atoms being able to move outside the potential energy when the unpinned atom is released inside the well.  I agree that it is an issue with a violation of the law of conservation of energy.  I would expect that the atom could not travel up the

[2016-08-15 21:08] arouinfar commented on #56
Thanks for taking a look at this @amyh-phet!

This was the critical detail I was overlooking @jbphet!  Settling at the bottom of the well makes sense if I consider the energy lost through the vibration of the pinned atom.

It looks like the real issue is that oxygen violates energy conservation by occasionally jumping above its release point outside of the well.

[2016-08-15 21:13] arouinfar commented on #56
We should make a note about the pinned oxygen vibrating in the teacher tips for SOM and AI, so I'm tagging this with teaching resources and self-assigning.

[2016-08-15 21:14] arouinfar commented on #56
Correction -- oxygen-oxygen only appears in AI, so I'll leave this one to @amyh-phet since she'll be working on the teacher tips.

[2016-08-16 18:23] jbphet commented on #25
@arouinfar and I reviewed this together, made some final changes, and agree that it is now acceptable.  Closing.

[2016-08-16 18:23] #25 closed

[2016-08-18 00:02] jbphet commented on #56
This was caused by the vibration of the fixed atom during bonding - it was vibrating randomly, and could thus end up getting closer to the movable atom, thus creating a high repulsive potential.  I've adjusted the vibration pattern of the fixed atom during the bonding phase, and that seems to have resolved the issue.  Assigning to @arouinfar to verify on master and see if the current behavior look

[2016-08-18 16:08] arouinfar commented on #56
@jbphet looks good. I haven't been able to replicate the original issue, so closing.

[2016-08-18 16:08] #56 closed

[2016-08-19 17:48] jbphet commented on #55
This was due to a hard-coded value in the drag handler for the marker on the diagram.  I changed the code to set a minimum allowable value from the view, and this seems to have resolved the problem.  Should be fixed now, assigning to @arouinfar to verify on master.

[2016-08-19 21:10] arouinfar commented on #55
Looks good @jbphet. Thanks!

[2016-08-19 21:10] #55 closed

[2016-08-22 19:56] jbphet commented on #21
I believe the color issues were addressed in https://github.com/phetsims/states-of-matter/issues/49, so the gradients are the next thing to finalize.  I've made some adjustments to make the edges of the particles reasonably "soft" yet still distinct, and to look decent in project mode too.  Assigning to @arouinfar to check on master.  If this looks good, please close the issue, if not, let's meet

[2016-08-22 20:00] arouinfar commented on #21
@jbphet the atoms look great on the black background, and projector mode has definitely improved. I don't think it needs further tweaking, so I'll go ahead and close this issue.

[2016-08-22 20:00] #21 closed

[2016-08-22 21:55] jbphet commented on #31
I figured it would probably be faster to implement the fast-forward feature and have us review it than to provide an estimate and discuss, so the the feature is now available on master.  @arouinfar and @ariel-phet - please take a look and see if you think this change addresses the issue with the long tail and we can decide whether to keep it.

I had a couple of observations:
- I had to go with a v

[2016-08-25 00:01] ariel-phet commented on #31
I think the sim just needs some relayout and scaling. I believe below shows ipad dimensions (I have chopped off the right edge of the graph, did veritical adjustment of layout, and rescaled graph to fill the space)

![atomic](https://cloud.githubusercontent.com/assets/4051174/17952106/c9f56b22-6a24-11e6-9f75-97258e0e0179.PNG)

[2016-08-25 00:03] ariel-phet commented on #31
I believe what I have above matches the java scaling more closely

[2016-08-25 02:39] arouinfar commented on #31
@jbphet and I spoke about this before I left the office, and he showed me the aliasing issue on the iPad2. The motion of the unpinned atom can look very jerky, and I think it could lead to a more problematic student interpretation than the atom appearing static along the tail, so I don't think we want the Fast Forward option, after all.

@amyh-phet and I had discussed a re-scaling similar to what

[2016-08-25 17:47] jbphet commented on #31
@ariel-phet and I just discussed this, and we're thinking of just shortening the graph.  It's pretty short on the Java sim, so how about we just do that?

[2016-08-25 17:48] arouinfar commented on #31
@jbphet @ariel-phet I would be fine with that. I think we could lose ~1/2-2/3 of the right-most column.

[2016-08-25 22:42] pixelzoom opened #57 "sim relies on align:'right' default for Panels"
Related to https://github.com/phetsims/sun/issues/252, this sim uses Panel option `minWidth` relies on the old default of `align:'right'`.  Below are the stack traces for occurrences that need to be checked. These are the occurrences noted when loading the sim in requirejs mode. If the sim creates Panels dynamically, you should do further checking with fuzzMouse.

[code]

[2016-08-26 14:45] pixelzoom commented on #57
I believe this sim may be a subset of states-of-matter, so this may be a duplicate of https://github.com/phetsims/states-of-matter/issues/146.

[2016-08-26 15:00] pixelzoom commented on #57
Visually inspected and compared to previous dev versions, I see no change.  @jbphet up to you whether you want to inspect further or close.

[2016-08-26 16:10] ariel-phet commented on #31
@jbphet perhaps when you do that, move the graph a bit to the right to recenter it in the negative space, and also move the atoms over to compensate accordingly

[2016-08-26 17:31] jbphet commented on #57
I checked this out on both the AI and SOM sims with the default English strings, and then tested with long and short strings, and the AtomicInteractionsControlPanel looked fine.  Closing.

[2016-08-26 17:31] #57 closed

[2016-08-31 16:52] arouinfar commented on #31
👍

[2016-08-31 16:53] arouinfar commented on #31
I have one additional request, though perhaps it goes without saying. After rescaling, the vertical lines should be re-distributed so that there are three columns of equal width.

[2016-08-31 18:28] jbphet commented on #31
I forgot that this GitHub issue was in the atomic interactions repo and didn't specify the full URL when making one of the main commits, so here it is: https://github.com/phetsims/states-of-matter/commit/c949c182c680d955111dbb6e0129fc377814226c.

[2016-08-31 19:36] arouinfar commented on #31
I just took a look at dev.12, and I think it looks great @jbphet!

[2016-08-31 19:46] jbphet commented on #31
Wow @arouinfar, I was just about to ask you to take a look at it.  Good anticipation.  Assigning to @ariel-phet to see if he concurs and, if so, I'll set up a dev task for this version.

[2016-08-31 19:49] arouinfar commented on #31
Haha @jbphet. I tried to pull master, but phettest wasn't behaving (might be a VPN issue on my end) so I took a look to see if there as a new dev version, and there was!

[2016-09-01 17:16] ariel-phet commented on #31
All looks good to me. Closing

[2016-09-01 17:16] #31 closed

[2016-09-09 19:53] BryceAG opened #58 "StringTest=xss error"
Test device:
Bates
Operating System:
Windows 7
Browser:
Chrome
Problem description:
only shows graph line
Steps to reproduce:
use stringTest=xss
Severity:

Screenshots:
![image](https://cloud.githubusercontent.com/assets/15327201/18400771/9498eb6c-7694-11e6-98ba-77ab628307e7.png)
I couldn't even get to report a problem, so I used the report a problem form the general RC test without string Tests.

[2016-09-09 23:31] ariel-phet opened #59 "Atomic Interactions Master Checklist"
## Design
- [x] **Design doc created** (Date: 05/08/2014)
  - [x] Make phethelp@gmail.com owner, share with phet-team
  - [x] Add to [Master Doc List](https://docs.google.com/document/d/1yjT1oE95JG_evwob9LB_De-brD7JpfFM6iIL6pF812k/edit#)
- [x] **Legacy sim docs/info gathered**
- [x] **Learning goals and standards identified** (Date: 07/16/2015)
- [x] **Design concept complete**  (Date: 10/07/2014)

[2016-09-13 16:59] brroberts1231 commented on #58
Also happens on Win 8 Chrome and Firefox

[2016-09-14 15:28] phet-steele commented on #58
@jbphet, here's some helpful information. `?stringTest=%20` has exactly the same effect as the above screenshot.

[2016-09-14 15:54] phet-steele commented on #58
In case you want it, I got it:

Troubleshooting information:
Name:
URL: http://www.colorado.edu/physics/phet/dev/html/atomic-interactions/1.0.0-rc.1/atomic-interactions_en.html?stringTest=%20
Version: 1.0.0-rc.1 2016-09-09 17:02:59 UTC
Features missing: touch
Flags: pixelRatioScaling
User Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/53.0.2785

[2016-09-14 17:41] phet-steele opened #60 "[Multitouch] Fixed interactions will have the appearance of a changing atom diameter"
1. Finger A, manipulate the Atom Diameter slider.
2. Finger B, switch to another interaction option.
3. Slide finger A around.

@jbphet, the color fills representing a changing atom diameter will be seen. No, this does not actually change the diameter of the non-custom atoms.

![ai02](https://cloud.githubusercontent.com/assets/5863899/18522879/21c58b20-7a6f-11e6-9ae4-e94a4841eccc.gif)

Assigning t

[2016-09-14 17:41] phet-steele opened #61 "[Multitouch] Atom movement while still dragging"
1. Finger A, manipulate either Custom Attraction slider.
2. Finger B, manipulate the atom.
3. Release finger A.
4. Drag finger B to the left of the screen.

@jbphet, the sim seems to interpret step 3 as releasing the atom, not just the slider. The atom begins to move, but can simultaneously be controlled by finger B.

![ai01](https://cloud.githubusercontent.com/assets/5863899/18522874/1c6d3a88-7a6

[2016-09-14 17:56] phet-steele opened #62 "QA credits"
@jbphet, please add Bryce Griebenow some time before publication.

[2016-09-14 19:54] ariel-phet commented on #61
I think this is a "won't fix" issue. It is a rare of enough use case, and I don't think the user will be surprised that by trying two change to things at once the system is fighting itself.

Good find though @phet-steele!

Marking won't fix and closing

[2016-09-14 19:54] #61 closed

[2016-09-14 19:59] ariel-phet commented on #60
Hmm, this does seem like something one could do on accident, (dragging the atom diameter and hitting one of the other options on the screen), and then the sim will be in quite an odd state.

@jbphet could you investigate and see if there is an easy solution?

[2016-09-17 00:33] arouinfar commented on #59
Description, Learning Goals, Main Topics, etc. have been updated/identified as necessary. See the <a href="https://docs.google.com/document/d/1-2v8rQlwgWwqinYYiFu8PBIpRU7HL_InBIAtwpSzBMY/edit#heading=h.mv3glozfezqu">Website Info</a> section of the design doc.

The following activities can be moved over to the HTML5 version as well:
<img width="579" alt="screen shot 2016-09-16 at 6 24 06 pm" src="h

[2016-09-19 06:00] arouinfar commented on #59
<a href="https://drive.google.com/drive/u/0/folders/0BwW3aJP5Cq8oem0xNnlyWUdxZWM">Teacher Tips</a> have been uploaded to Drive.

[2016-09-19 06:42] arouinfar commented on #59
@ariel-phet  -- I may be out of the office when it's time to publish this sim, but everything is ready to go. Perhaps @phet-steele can take care of publication if I'm not around?

There are just a few things left to do:
- [x] Update <a href="https://docs.google.com/document/d/1-2v8rQlwgWwqinYYiFu8PBIpRU7HL_InBIAtwpSzBMY/edit#heading=h.mv3glozfezqu">Description, Learning Goals, and Categories</a> a

[2016-09-19 17:38] pixelzoom commented on #58
Some other useful information, from Skype thread:

[2016-09-19 18:09] jbphet commented on #59
@arouinfar - I'm going with the argon version of the screenshot, at least for now.

[2016-09-19 18:10] arouinfar commented on #59
Sounds good @jbphet. Thanks!

[2016-09-19 18:18] jbphet commented on #58
The code checklist says, "Does the sim stay on the sim page (doesn't redirect to an external page) when running with the query parameter".  So, strictly speaking, this version of the sim passes the test, even though it is not rendering correctly.  We are going to discuss how to deal with the `xss` string test in an upcoming developer meeting to improve the test and clarify what constitutes passing

[2016-09-19 18:18] #58 closed

[2016-09-19 19:13] jbphet commented on #60
The sim is only in an odd state very temporarily, but I went ahead and added code that prevents this problem anyway.  Gradients are now re-enabled on a change of particle type and the fill change is only made for adjustable particles.  See the commit for details.  To make sure I have fully understood and resolved the issue, I'll have @phet-steele test before publication.

[2016-09-19 19:19] jbphet commented on #62
Fixed, assigning to @phet-steele to verify on the next RC.

[2016-09-19 19:20] jbphet commented on #60
I had @phet-steele test on my machine, and he said that it appeared fixed, but he'd still like to test on the next RC, so I'll leave this open and assigned to him.

[2016-09-22 17:48] brroberts1231 opened #63 "[Safari] Text stretching and overlap in stringTest=double"
For phetsims/tasks#703

While checking #62, using stringTest=double I saw the following problem on the About page:
![screen shot 2016-09-22 at 11 29 34 am](https://cloud.githubusercontent.com/assets/11947677/18759308/2ce67c3a-80b9-11e6-93eb-457ddb34964d.png)

I saw this both on OS X 10.10.5, and iPad 2. Safari only, not Chrome or FF. Seems like it might be a general safari problem that happens on

[2016-09-22 17:55] phet-steele commented on #63
@ariel-phet @jbphet this is just another occurrence of phetsims/scenery/issues/469. It does not adversely affect the sims i18n, it is more than likely a problem with the stringTest itself.

[2016-09-22 19:38] phet-steele commented on #62
👍

[2016-09-22 19:38] #62 closed

[2016-09-22 19:42] phet-steele commented on #63
@ariel-phet Since this is a known issue and is being tracked in another repo, my vote is to close this. This issue has been referenced to the main thread in scenery so the sims affected have been documented. Any desire to fix this should probably be followed through in scenery.

[2016-09-22 19:42] #63 closed

[2016-09-22 20:47] phet-steele opened #64 "Remove the color fill on diameter change"
@ariel-phet @jbphet @arouinfar We can probably do away with the color fill that occurs when changing atom diameter. Its purpose was to improve performance while changing the diameter and prevent weird appearance bugs. As the below mulitouch "bug" reveals, the sim handles the gradient re-drawing quite well. iPad 2 still has remarkable performance when rapidly changing the atom's size. I also checke

[2016-09-22 21:48] phet-steele commented on #60
It looks great, closing.

[2016-09-22 21:48] #60 closed

[2016-09-22 21:49] phet-steele commented on #64
@ariel-phet liked the idea.

[2016-09-22 21:50] arouinfar commented on #64
Sounds good @phet-steele! If there aren't any performance concerns, I don't see any reason to keep the color change feature.

[2016-09-23 19:51] jbphet commented on #64
Indeed, this was a performance or behavior issue in the Java sim and may no longer be necessary.  We should test it thoroughly on all platforms before going live with it, so I'll make the change and roll it into an RC for testing.

[2016-09-26 19:44] phet-steele commented on #64
This looks great. Everything is performing well. See the tested platforms in the referenced tasks issue.

[2016-09-26 19:44] #64 closed

[2016-09-27 17:31] oliver-phet opened #65 "User comments: O-O formation issues"
Comment from Sandor Sep 27, 2016:

[2016-09-27 17:31] oliver-phet commented on #65
Perhaps @arouinfar can comment?

[2016-09-27 17:46] ariel-phet commented on #65
Not sure, but I think @amyh-phet will have more insight

[2016-09-27 17:56] arouinfar commented on #65
@oliver-phet @ariel-phet @amyh-phet

One of the learning goals of the simulation is to

This behavior was present in the Java sim, though sigma and epsilon were adjusted to be more realistic for the O-O pair. YYC stated in the design doc that:

This has also been noted in the Teacher Tips.

As far as I know, the Lennard-Jones potential is used to describe the interaction of two neutral atoms wheth

[2016-09-27 21:28] amyh-phet commented on #65
@arouinfar and @oliver-phet     The Lennard-Jones potential is typically used to calculate attractions between two neutral particles and models intermolecular attractions, not covalent bonds.  I think Sandor has a point that it is a bit unconventional to use L-J potentials for bonded atoms.  We did attempt to address this in the Teacher Tips, but perhaps I need to reword how the O-O values for sig

[2016-09-28 15:54] ariel-phet commented on #59
@arouinfar and @amyh-phet just sim primer and pasting notes into the design document (I forget who did interviews)

(and yes I know sim primer will be awhile)

[2016-09-28 17:00] arouinfar commented on #59
@ariel-phet I still need to take care of the notes. @amyh-phet has said she'll eventually do the primer.

[2016-10-31 21:10] pixelzoom opened #66 "Replace getQueryParameter with QueryStringMachine"
Factored out of https://github.com/phetsims/query-string-machine/issues/15

[2016-10-31 21:24] #66 closed

[2016-12-12 19:21] arouinfar opened #67 "Create sim primer"
Tracking sim primer publication in this issue, so that #59 can be closed.  Assigning to @amyh-phet.

[2016-12-12 19:26] arouinfar commented on #67
I'm not sure what else is in your primer queue @amyh-phet, so there's no rush for this primer, in particular. The goal is to close master checklists, so primer publication is being tracked separately.

[2016-12-12 19:36] amyh-phet commented on #67
@arouinfar   I'm hoping to get back to primers soon, so I'll add this to the list.

[2017-03-09 18:42] amyh-phet commented on #65
@arouinfar and @oliver-phet   Can this issue be closed?

[2017-03-15 22:10] amyh-phet commented on #67
Primer completed.

[2017-03-15 22:10] #67 closed

[2017-03-15 22:14] amyh-phet commented on #59
@arouinfar  Sim primer is up on website.  Removing my assignment.

[2017-06-09 15:31] oliver-phet opened #68 "User reported issue: energy conservation"
**Problem description**: scientific misconception?
On of the simulations, that of a di-atomic collision seems to violate energy conservation, unless the (kinetic) energy that is inaccessible to the translation of the nuclei has been transferred to internal degrees of freedom or via radiation. As far as I remember, the latter is unlikely, and the available internal degrees of freedom, electronic st

[2017-06-12 19:56] amyh-phet commented on #68
@oliver-phet    I think the confusion might be caused by interpreting the sim as modeling collisions between atoms.  The sim is designed to look at factors that influence attraction/repulsion between two atoms but not bond formation that occurs as a result of a collision. The oxygen atoms are assumed to be close enough to each other such that the attractive forces between the two atoms would resul

[2017-06-12 20:09] oliver-phet commented on #68
Thanks, I'll reply back to the user. Closing for now.

[2017-06-13 19:17] oliver-phet commented on #68
Reply from user:

[2017-06-21 15:14] jbphet commented on #68
Assigning to @ariel-phet to figure out if further followup is needed since  @amyh-phet is leaving.

[2017-06-21 16:07] ariel-phet commented on #68
@oliver-phet can you reply to the user and cc me.

Please respond with the following "While we understand that this depiction has some downsides, please note that the oxygen atoms are already "stuck"when the simulation begins. The learning goals of this scenario are focused around the attraction between those atoms once they are already in the potential well minimum. As you stretch the moveable at

[2017-06-23 17:38] oliver-phet commented on #68
Reply sent. Closing for now.

[2017-06-23 17:38] #68 closed

[2017-06-24 17:41] ariel-phet commented on #65
There was a further concern raised in #68

I had some email discussion with the user, and I think I understand the concern better. Basically, when you displace the moveable atom from the potential well minimum in the O-O scenario, it causes the "pinned" atom to vibrate on "collision", this vibration then goes away, and the oscillation does not go as high on the walls of the potential well, implyin

[2017-06-24 17:43] ariel-phet commented on #65
I am also going to probe Emily Borda regarding these questions, she might have some thoughts/insight.

[2017-06-25 00:43] ariel-phet commented on #65
Emily Borda is on vacation but said she would give some input the week of 7/10

[2017-06-25 20:43] ariel-phet commented on #65
Further comments by the user who raised concerns in #68

[2017-07-06 03:52] #59 closed

[2017-07-10 20:10] ariel-phet commented on #65
Emily Borda responded:

It seems we should revisit this behavior

[2018-02-16 22:01] kathy-phet commented on #65
I am leaning towards keeping the O-O example, but making it behave like the other examples (that is not bond automatically). I sent an email off to Joe Redish, to get his feedback on this proposed change:

I will update this issue when I hear back from Joe.

[2018-02-16 22:09] kathy-phet commented on #65
I discussed the above proposal with @arouinfar, before emailing Joe, and she thought it seemed OK. It seemed to allow addressing the original learning goals around O-O still - just in a different way. I also sent a note to Carl just now regarding this proposal. Will update as I hear back.

@ariel-phet - Would this solution work from your knowledge of the discussions?

[2018-02-19 16:47] kathy-phet commented on #65
From Carl:

[2018-02-19 18:32] jbphet commented on #65
@ariel-phet - I'm okay with removing the bonding altogether, but should we take, say, a half hour of design meeting with someone with a lot of expertise in this types of bond formation to brainstorm how we could work it in to the simulation design, and then have me evaluate how much implementation effort it would take?  I'd just like to make sure we don't dismiss the idea of showing a more correct

[2018-02-20 17:54] kathy-phet commented on #65
Emily B writes:

[2018-02-21 02:32] ariel-phet commented on #65
@jbphet I am open to a having a design meeting on the topic. Let me ping Emily B to see if she is free this week.

@kathy-phet @jbphet - part of me is thinking we could do something a little cheesy like have "bond" button. So it acts like everything else, but if you push the bond button you see energy taken away in some way, perhaps with a manufactured collision or such.

[2018-02-21 21:02] kathy-phet commented on #65
Joe R responds:

[2018-02-21 21:03] kathy-phet commented on #65
Robert P responds:

[2018-02-21 21:06] kathy-phet commented on #65
My inclination is to not work on a "bonding" option at this time. We could keep it as an enhancement option for the future, if resources to support this upgrade become available.

[2018-02-22 22:37] jbphet commented on #65
Based on the responses above, I'm thinking I should just implement the non-bonding behavior, and we shouldn't worry about implementing any sort of boding feature at this point.  @ariel-phet - if you're okay with that, I'll move forward on it.

[2018-02-22 23:16] kathy-phet commented on #65
Ariel and I had already discussed this and agreed to move forward without the bonding option. So yes, @jbphet, you can move forward with implementing the above proposal. Thanks!

[2018-02-27 00:25] jbphet opened #69 "branch: remove-o-o-bonding"
This branch will be used for experiments in the removal of oxygen-oxygen bonding, see #65.

[2018-02-27 00:36] jbphet commented on #65
Relevant commit (that I forgot to get in comment): https://github.com/phetsims/states-of-matter/commit/8b5476c386491d8f5ee53fe9bd79cba97378d56c

[2018-02-27 00:41] jbphet commented on #65
I tried removing the bonding and leaving the well the same size, but it has a couple of issues:
1. The motion of the marker on the graph is so fast that it aliases, and it's hard to see what is going on
2. The motion of the atoms is so fast that it almost looks like they are bonding
3. The potential levels are so high that I have to reduce the max timestep to prevent the movable atom from flying a

[2018-03-06 22:12] jbphet commented on #65
I have created a version that removes the bonding behavior and also reduces the size of the potential well.  I also revised the zoom range to suit the new max potential depth.  The new values for sigma and epsilon were chosen empirically - I don't know enough about what *should* happen to do anything other than that.

Assigning to @kathy-phet, @ariel-phet, @arouinfar to review and comment.  When t

[2018-03-06 23:04] arouinfar commented on #65
@jbphet the behavior looks reasonable to me. O-O is still a bit jumpy, particularly on the left side of the well. Viewing the sim in slow motion goes a long way to reduce the jumpiness, so I am not particularly worried that the behavior will be misinterpreted.

[2018-03-07 16:13] ariel-phet commented on #65
@jbphet this seems to follow the proposal that was made, and shows a much deeper potential well. I agree with @arouinfar comment above.

@kathy-phet is not going to answer until at minimum next week, so we should just move ahead, I am comfortable making that call, and finishing this off.

[2018-03-07 16:37] jbphet commented on #65
Cool - I'll move forward with a release then.

[2018-03-07 19:17] arouinfar opened #70 "Update Teacher Tips"
The Teacher Tips will need some updating due to #65.

[2018-03-07 19:18] arouinfar commented on #65
@jbphet I'm working on updating the teacher tips. Can you ping me when the maintenance release goes live?

[2018-03-21 23:06] arouinfar commented on #70
Tips have been updated, closing.

[2018-07-09 22:42] arouinfar commented on #70
Looks like the changes in #65 haven't been published yet. Repoening this issue, and tagging `status:fixed-awaiting-deploy` so I remember to upload the updated tips once the sim is redeployed.

[2018-07-24 21:39] jbphet opened #71 "Query parameter doesn't work for setting projector mode"
The query parameter `colorProfile=projector` should cause the sim to load with projector mode enabled, but it doesn't work.  This is true on both the currently published version (1.0.5) and the current master version.

[2018-07-24 21:40] jbphet commented on #71
Note that it works fine to set projector mode via the "Options" dialog (available in the PhET menu).

[2018-07-26 22:48] jbphet commented on #71
I must've messed up this test somehow.  It DOES seem to be broken in the published version, but works fine on master.  I'll move the status to fixed-pending-testing, since it would be good to double check this before we republish.

[2018-07-27 18:54] jbphet commented on #69
This branch has been removed and the feature is in master.  Closing.

[2018-07-27 18:54] #69 closed

[2018-07-27 18:55] jbphet commented on #65
The code to remove bonding but still have a deep well has been integrated into master, and all of the bonding code has been removed.

[2018-11-15 22:26] KatieWoe opened #72 "Bad Memory Leak"
For https://github.com/phetsims/QA/issues/216
Start: 17.5 MB
1 min: 128 MB
2 min: 231 MB
3 min: 334 MB
4 min: 441 MB
5 min: crash before heap snapshot can finish.
Will try test on published version per request of @jbphet

[2018-11-15 22:34] KatieWoe commented on #72
With published version:
Start: 13 MB
1 min: 14.8 MB
2 min: 15.5 MB
3 min: 15.9 MB
4 min: 16.1 MB
5 min: 16.5 MB

[2018-11-15 22:55] KatieWoe commented on #72
@jbphet requested the test be done on recently published States of Matter.
Start: 27.2
1 min: 56.6
2 min: 74.9
3 min: 94.2
4 min: 119
5 min: 137

[2018-11-16 21:21] jbphet commented on #72
I did a memory analysis and found the leaks.  There were three nodes for which there were no dispose functions, so they have been added.  Kinda a lame of me to have missed these, but it's great that QA ran this test and identified the problem.

Running a RequireJS version of Atomic Interactions, I now see the following memory heap size:

| Time (minutes)  | Memory Usage (MB)  |
|---|---|
| 0  | 17

[2018-11-21 17:32] KatieWoe commented on #71
Looks good on 1.1.0-rc.1 on Win 10 chrome.

[2018-11-21 19:25] KatieWoe opened #73 "Sharp vertex in custom attraction"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/216
When using custom attraction, the red line can become very pointed, rather than a curve.  I have not noticed any performance or behavior issues from this, so it is more of a question on the desired appearance of the sim.
**Steps to reproduce:**
1. Cho

[2018-11-21 20:53] arouinfar commented on #73
Thanks for checking @KatieWoe. The sharp vertex is an artifact of the scaling. For most values, the vertex is appropriately rounded. I don't think it's particularly harmful, and it's is also present in the published version of the sim, so closing.

[2018-11-21 20:53] #73 closed

[2018-11-21 21:14] KatieWoe opened #74 "Pinned and Moving strings very small"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/216
When stringTest=double, some of the strings become small rather quickly (custom attraction in particular) and Pinned and Moving seem to become quite tiny.  This seems to be in part due to an apparent change in size and position of the toolbox between

[2018-11-21 21:30] arouinfar commented on #74
@jbphet looks like the panel in the rc is quite a bit narrower than the published version.
![image](https://user-images.githubusercontent.com/8419308/48869068-156c5300-ed99-11e8-91ae-ae042672a453.png)

The `maxWidth` of Pinned, Moving, and Custom Attraction all seem a bit smaller than necessary
![image](https://user-images.githubusercontent.com/8419308/48869189-827fe880-ed99-11e8-9b2b-a26ce93cd738

[2018-11-26 16:32] KatieWoe opened #75 "Grid is in front of atoms and line"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/216.  Present in the published version, but unintended per @jbphet.  Also present in States of Matter under similar circumstances.  When examining the graph the point representing the movable atom seems to be layered behind the grid.  This also seems to b

[2018-11-26 16:51] arouinfar commented on #75
The z-ordering of the grid is indeed a bit funky @KatieWoe. I would move the grid to the back, but the relative z-ordering of everything else looks fine to me @jbphet.

[2018-11-26 19:20] KatieWoe commented on #65
@arouinfar something I've noticed in regards to https://github.com/phetsims/atomic-interactions/issues/65#issuecomment-370961339.  The jumpiness on the left side is more noticeable when the total force arrows are used.  Since the atom jumps to slightly different spots each time and the distance between the jumps is larger, the size of the arrows each pass can vary noticeably.  To see this, separat

[2018-11-26 19:35] KatieWoe commented on #74
I've seen that on lower resolution screens (Chrome OS - Lovelace in this case) the small strings in the image above (van der Walls and electron overlap) are not legible.  Since these max widths will likely be lengthened this may be less of a problem.  What do you think @arouinfar?

[2018-11-26 19:56] arouinfar commented on #74
@KatieWoe can you take a screenshot on Lovelace?

I won't make any recommendations until the maxWidth issue has been addressed.

[2018-11-26 20:06] arouinfar commented on #65
I'm not noticing an appreciable difference in the oscillation of the atom in the graph with total force on/off for macOS/Chrome. There is a bit of jumpiness in the total force vectors, but I think it's pretty minor. Stepping through the oscillation, the relative magnitude and orientation of the total force vectors seems reasonable to me.

[2018-11-26 20:36] KatieWoe commented on #74
![pastedimage 1](https://user-images.githubusercontent.com/41024075/49040594-390c1080-f180-11e8-92d6-bfb89080f582.png)
I've also noted that the arrows move to the left when the strings are short.  Is that intended?
![pastedimage](https://user-images.githubusercontent.com/41024075/49040618-4f19d100-f180-11e8-816b-1cf1c17c7204.png)

[2018-11-26 20:44] arouinfar commented on #74
@KatieWoe good observation. I believe the position of the arrows is determined by the end of the longest string, so they will shift with varying string width/font size. So long as the alignment is maintained, I don't think that's an issue.

The issue here is that the maxWidths are just too small, and should be made as large as possible while maintaining some reasonable amount of padding.

[2018-11-29 20:35] KatieWoe opened #76 "Force Arrows remain when atom changes"
**Test device:**
Dell Laptop
**Operating System:**
Win 8.1 and 10
**Browser:**
Firefox and Chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/216.  In published version and States of Matter.  May be connected to https://github.com/phetsims/atomic-interactions/issues/36.
When the sim is paused when force arrows are visible, and the atoms are changed while paused, the same arr

[2018-12-07 18:44] jbphet commented on #76
Unassigning until this sim comes back to my list of top priorities.

[2018-12-07 18:44] jbphet commented on #75
Unassigning until this sim comes back to my list of top priorities.

[2018-12-11 16:24] jbphet commented on #74
This sim is going on the back burner for a while due to other priorities.  Unassigning, will reassign when work resumes.

[2019-01-23 23:57] KatieWoe opened #77 "CT Running lint-all task"
[code]

[2019-01-24 03:41] pixelzoom commented on #77
Border. Needed something mindless to do. Fixed, closing.

[2019-01-24 03:41] #77 closed

[2019-04-15 22:21] KatieWoe opened #78 "Usability on a small screen review"
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* Should touchSnag be on the atoms?

Screenshots:
![Image from iOS (1)](https://user-images.githubusercontent.com/41024075/56169177-8a376800

[2019-04-17 16:55] arouinfar commented on #78
These changes will be handled in https://github.com/phetsims/states-of-matter/issues/243, so closing.

[2019-04-17 16:55] #78 closed

[2019-06-28 18:11] SaurabhTotey commented on #76
I believe I have now addressed this issue in the latest commit.

[2019-06-28 19:40] SaurabhTotey commented on #75
I believe I have addressed this issue now. Now the grid lines are at the very back but the relative ordering of everything else is the same.

[2019-07-01 18:00] SaurabhTotey commented on #74
I have tried increasing the max widths in as many ways as I could. I still don't notice a huge difference after my changes, but I do think the differences in widths are a little noticeable. I will leave a status:ready-for-review label on this issue so that the current changes can be reviewed and I can be later instructed on what to do next.

[2019-07-02 18:28] SaurabhTotey commented on #74
I went back through all the width variables that I changed in https://github.com/phetsims/states-of-matter/commit/dd511c8c054a09213f34c414030f02feee9f9211 in a more thorough manner. After a more careful examination, I was able to find the variables that actually changed what I was looking to change. I then steepened those values so that the max widths of the relevant pieces of the panels are bette

[2019-07-02 20:36] SaurabhTotey commented on #74
I have now made my final touches. I am unsure of what the end goal is for these panels, but I have tried increasing the max width for the text in these panels for atomic-interactions while not affecting states-of-matter too heavily. Assigning to @arouinfar to get feedback and/or further advice.

[2019-07-08 18:05] SaurabhTotey commented on #75
Removing status:ready-for-review label and assigning to @arouinfar to review.

[2019-07-08 18:05] SaurabhTotey commented on #76
Removing status:ready-for-review label and assigning to @KatieWoe to review.

[2019-07-08 18:06] SaurabhTotey commented on #74
Removing status:ready-for-review label as this issue is assigned to @arouinfar.

[2019-07-08 18:07] arouinfar commented on #74
@SaurabhTotey the maxWidths are all looking good in master. I think it would be helpful to make the panel a bit wider still (and scale up the maxWidths accordingly). Let's try a 10% increase in panel width.

[2019-07-08 18:08] arouinfar commented on #75
Looks good in master @SaurabhTotey.

[2019-07-08 18:12] SaurabhTotey commented on #75
Marking this as status:fixed-awaiting-deploy.

[2019-07-08 21:07] SaurabhTotey commented on #74
In master the panel width has increased from 190 to 209. Here is what the change looks like.

Old:
<img width="1440" alt="190" src="https://user-images.githubusercontent.com/22577113/60842675-e244cb80-a191-11e9-8a45-11fefbd780bd.png">

New:
<img width="1440" alt="209" src="https://user-images.githubusercontent.com/22577113/60842680-e5d85280-a191-11e9-9706-9fad80f18814.png">

The change is slight,

[2019-07-08 21:19] arouinfar commented on #74
@SaurabhTotey the updated panel width is looking nice. One thing I've noticed in master is that there's quite a bit of extra padding to the left of the radio buttons, which isn't there in your screenshots.

![image](https://user-images.githubusercontent.com/8419308/60843363-a90d5b00-a193-11e9-82a9-122734276a40.png)

[2019-07-08 21:59] SaurabhTotey commented on #74
I didn't even notice that! It seems like the problem arises because the button-group is center-aligned rather than left-aligned. This wasn't visible before because the buttons used to always take up the full space. However, after widening the panel, I guess this is now more visible. I changed the alignment in my latest commit so that they are now left-aligned again and there doesn't seem to be as

[2019-07-08 22:17] arouinfar commented on #74
Thanks @SaurabhTotey, looks good!

[2019-07-12 18:30] KatieWoe commented on #76
This does look good in master.

[2019-07-12 20:16] SaurabhTotey commented on #76
Sounds good. I'll unassign and add a status:fixed-awaiting-deploy label.

[2019-07-16 16:09] SaurabhTotey opened #79 "Publish a release candidate"
working with SR, we are unsure of what version to publish RC on. The phet website has 1.0 published, but the package.json points to 1.2. But, seeing as to how 1.1 has been made but is not published, we are thinking we should publish for 1.1.

[2019-07-16 16:16] SaurabhTotey commented on #79
There is already a release branch for 1.1, so we will delete it. It seems like 1.1 only has trivial changes, so we will let chipper regenerate a new 1.1 branch.

[2019-07-16 16:52] SaurabhTotey commented on #79
After much trial and error, I have been able to deploy 1.1.0-rc.4 at https://phet-dev.colorado.edu/html/atomic-interactions/1.1.0-rc.4/phet/atomic-interactions_en_phet.html.

[2019-07-16 16:52] #79 closed

[2019-09-23 20:32] chris-huxtable opened #80 "Duplicated word in en Description"
"Observe **the the** total force acting on..."

[2019-10-02 01:07] ariel-phet commented on #80
Fixed, closing

[2019-10-02 01:07] #80 closed

[2019-10-10 15:27] oliver-phet opened #81 "User suggestion: "diatomic molecule diameter""
It would be more precise to write sigma "diatomic molecule diameter" because its a molecule.
I can make the same comment for the french translation (I imagine all of them are derived from the original english version)

[2019-10-10 16:24] arouinfar commented on #81
Aside from oxygen-oxygen, none of these atoms are actually bonded, so it would be inaccurate to describe them as molecules. The σ parameter is a term in the Lennard-Jones potential (the red curve in the sim). The value of σ in the model is the [Van der Waals radius](https://en.wikipedia.org/wiki/Van_der_Waals_radius) for the non-bonding atomic pairs, and for oxygen-oxygen (the only pair of atoms t

[2019-10-10 16:31] oliver-phet commented on #81
Replied!

[2019-10-10 16:31] #81 closed

[2019-10-10 16:51] arouinfar commented on #81
Thanks!

[2019-10-11 21:22] loganbraywork opened #82 "Pinned and Moving Strings box shrinks in stringTest=long"
**Test device**
Windows 7 personal laptop
**Operating System**
Windows 7 6.1
**Browser**
Chrome
**Note**
Similar to current bug https://github.com/phetsims/atomic-interactions/issues/74
**Problem description**
From https://github.com/phetsims/QA/issues/385

Atom selection box shrinks significantly when strings are changed. Does not occur in the published version.
**Steps to reproduce**
1. Add quer

[2019-10-11 21:43] KatieWoe commented on #74
String lengths themselves look ok

[2019-10-24 04:12] phet-dev opened #83 "Maintenance patches applied to branch 1.1"
This branch (1.1) had changes related to the following applied:

- fix for iOS 13 Full Screen, see https://github.com/phetsims/phet-core/issues/64
- https://github.com/phetsims/scenery/issues/1006

Presumably one or more of these changes is likely to have been applied after the last RC version, and should be spot-checked by QA in the next RC (or if it was ready for a production release, an additio

[2019-11-04 22:00] SaurabhTotey commented on #82
After reviewing this issue with @jbphet, we decided that this issue was negligible and unlikely to come up. As such, I will close this issue. Thanks for noting it, however, @loganbraywork!

[2019-11-04 22:00] #82 closed

[2019-11-12 21:20] #83 closed

[2019-11-12 21:46] SaurabhTotey commented on #76
Doesn't seem to exist on deployed version. Closing.

[2019-11-12 21:46] #76 closed

[2019-11-12 21:46] SaurabhTotey commented on #75
Tested on deployed version. Closing.

[2019-11-12 21:46] #75 closed

[2019-11-12 21:48] jbphet commented on #65
@arouinfar said:

It has gone live.  I'll assign the issue to you, you can work out with @oliver-phet (see below) when to close.

@oliver-phet - there are various points in the dialog above where users opined about the Oxygen-Oxygen behavior.  The version that is now published does not include Oxygen-Oxygen bonding.  I thought you might want to follow up with the folks who were troubled by this be

[2019-11-12 21:49] #72 closed

[2019-11-12 21:50] SaurabhTotey commented on #71
Seems to work now in the latest deployed version. Closing.

[2019-11-12 21:50] #71 closed

[2019-11-13 19:15] arouinfar commented on #70
The updated teacher tips have been published to the site.

[2019-11-13 19:15] #70 closed

[2019-11-13 19:15] arouinfar commented on #65
Thanks @jbphet, I have published the updated teacher tips to the website.

[2020-01-27 16:09] chrisklus opened #84 "CT: api mismatches present"
[code]

Same as https://github.com/phetsims/states-of-matter/issues/249, but with the `visibleProperty` error included as well.

[2020-01-31 03:00] chrisklus commented on #84
The `visibleProperty` state error was due to the sim hiding the `returnAtomButton` during sim construction, which defaulted the phet-io state to not be "clean" after initialization. The commit I pushed above is the quick fix for this - defaulting the button's visibility to false. Thanks to @zepumph for the recommendation.

Assigning to @jbphet to see if you're okay with this change.

[2020-03-06 20:02] KatieWoe opened #85 "Phet-io atoms not moved in state or launched studio"
For ES6 Testing.
When a sim is launched from studio when an atom has changed position, the new position isn't reflected in the launched version of the sim. The state wrapper doesn't reflect atom movement either.
![atomlocation](https://user-images.githubusercontent.com/41024075/76118256-b7be4300-5faa-11ea-8973-371f647a2820.gif)
![atomstate](https://user-images.githubusercontent.com/41024075/761182

[2020-03-12 22:24] jbphet commented on #84
Well, you guys are the phet-io experts, so if you're cool with it, I guess I am too.  Closing.

[2020-03-12 22:24] #84 closed

[2020-03-14 15:30] jbphet commented on #65
@oliver-phet - I noticed this issue while working on another one in this repo.  Have the people been notified (see https://github.com/phetsims/atomic-interactions/issues/65#issuecomment-553131444) and can this be closed?

[2020-03-14 15:56] oliver-phet commented on #65
@jbphet I'll notify Sandor and I just re-read through this issue - who else needs notified?

[2020-03-14 16:00] jbphet commented on #65
It looks like there was someone in https://github.com/phetsims/atomic-interactions/issues/68 who expressed concern, and we responded, but it would be good to let them know that we've changed the behavior.

[2020-03-14 23:56] jbphet commented on #85
The atoms now move in the state wrapper and are positioned when launched from studio.  Closing.

[2020-03-14 23:56] #85 closed

[2020-04-10 14:46] KatieWoe opened #86 "CT when the sim is finished starting up all non-dynamic schema entries must be registered"
[code]

[2020-04-10 19:06] jbphet commented on #74
I ran into this when doing phet-io instrumentation of SOM, see https://github.com/phetsims/states-of-matter/issues/266.  The panels now seem to have an odd gap on the right side in both SOM and AI, and it doesn't look good to my eye.  @SaurabhTotey - can you please revisit this and make the panels look more balanced?  Even when I use the long string tests, this space is still present on the side.

[2020-04-13 18:25] jbphet commented on #86
Fixed, closing.

[2020-04-13 18:25] #86 closed

[2020-05-11 17:41] SaurabhTotey commented on #74
Here is what the panels look like now in SOM and AI respectively.
![som](https://user-images.githubusercontent.com/22577113/81592811-be3ab380-937b-11ea-988d-9abf7692be34.png)
![ai](https://user-images.githubusercontent.com/22577113/81592821-c09d0d80-937b-11ea-83ce-9deaaa4930e1.png)

Assigning to @arouinfar to determine what more should be done, if anything. @jbphet suggested that it might look nic

[2020-06-30 15:19] KatieWoe opened #87 "CT Any schema entries in the overrides file must be different from its baseline counterpart"
[code]

[2020-07-01 17:51] jbphet commented on #87
Fixed, and CT looks clear.  Closing.

[2020-07-01 17:51] #87 closed

[2020-07-31 22:40] oliver-phet commented on #65
I just also emailed the user in https://github.com/phetsims/atomic-interactions/issues/68 that the behavior has been changed. Closing!

[2020-07-31 22:40] #65 closed

[2020-08-03 16:23] oliver-phet commented on #68
Just thought I would post the reply from this user after a recent email from https://github.com/phetsims/atomic-interactions/issues/65. I sent the user the old version of the AI.

[2020-08-21 19:57] jbphet opened #88 "Deploy version 1.2.0"
Version 1.2.0 of states-of-matter (SOM) - the "parent sim" of Atomic Interactions (AI) - was just deployed. The main purpose of that release was to add phet-io functionality, but there were also a number of bug fixes and other changes. AI 1.2.0 should be deployed using the same code as SOM so that it also picks up the recent updates and so that we keep it "in sync" with its sibling sims.

[2020-08-28 19:03] jbphet commented on #88
Marking as deferred until work on the next maintenance release of SOM begins, which is currently slated for early October 2020.

[2020-11-02 19:03] jbphet commented on #88
Undeferring, moving forward on this.

[2020-11-02 19:05] jbphet commented on #88
I just verified with @arouinfar and @kathy-phet over Slack that we are only planning to publish the phet brand for this sim, since there hasn't been any specific phet-io design work for this sim (other than that which was done for "States of Matter").

[2020-11-09 19:45] brooklynlash opened #89 "The right-to-left string test overlaps on the graph on Firefox"
**Test device**
Lenovo ThinkPad

**Operating System**
Windows 10

**Browser**
Firefox

**Problem description**
This is for https://github.com/phetsims/QA/issues/575
When using the rtl string test on Firefox, the text overlaps on every graph. Works completely fine on Chrome and does not happen in published.

**Visuals**

![rtl](https://user-images.githubusercontent.com/72031637/98588580-26197a80-22

[2020-11-10 18:52] DevonQui commented on #89
I reproduced this slightly when displaying the forces of Oxygen on my MacBook but otherwise everything else seemed fine in terms of the layout Good find!.

[2020-12-08 00:14] KatieWoe opened #90 "Mouse can be off set while dragging adjustable attraction values"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/575. Occurs in published version.
As you are dragging the delta and epsilon controls on the graph, if you go beyond the bounds, then come back, the mouse will no longer be centered on the object being dragged.

**Visuals**
![draggingatom](https://user-images.githubu

[2020-12-08 18:51] KatieWoe opened #91 "Possible to drag force arrows to move atom"
**Test device**
Dell
**Operating System**
Ein 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/575. This does happen in the published sim.
It is possible to drag the force arrows on the moveable atom, rather than the atom itself. As the atom then moves, the arrow changes size, which often leads it to look like you are dragging nothing.
**Steps to reproduce**

[2021-01-05 22:10] jbphet commented on #90
I addressed this by making the drag handlers for the epsilon and sigma arrows use a fixed start position.  This has been propagated to the 1.2 branch of atomic-interactions.

[2021-01-13 18:20] jbphet commented on #89
I'm going to close this as a non-issue.  The string that is being translated/tested in this case is a single character, so it is the translator's responsibility to make sure that they don't use a long string that looks bad.  While it would be _possible_ to do some scaling in this case, it just doesn't seem worth it to me.

For good measure, I looked at the Persian translation of the current live v

[2021-01-13 18:20] #89 closed

[2021-01-13 20:45] jbphet commented on #91
I've addressed this by setting `pickable` to `false` for the force arrows.

[2021-01-14 00:00] KatieWoe commented on #90
Something similar can be seen when the graph is zoomed out. However, if it does follow the mouse you may loose some fine control, so I'm not sure if that case is worth addressing. The original expression does seem fixed on Win 10 Chrome.
![similarnotthesame](https://user-images.githubusercontent.com/41024075/104526906-c6a95500-55c0-11eb-9804-63677e691013.gif)

[2021-01-14 00:01] KatieWoe commented on #91
Looks good in 1.2.0 rc.3

[2021-01-14 00:01] #91 closed

[2021-01-15 21:32] KatieWoe commented on #90
I'm actually seeing this issue in two other instances. When grabbing the large hand that appears upon first load, and when grabbing the atom on the graph. It does not seem to happen when grabbing the atom in the play area.
![happenstoatom](https://user-images.githubusercontent.com/41024075/104780735-7952f200-573e-11eb-9e4f-ba402137aacf.gif)

[2021-02-03 23:35] jbphet commented on #90
For the record, many of the issues described in this issue are present in the currently published version of States of Matter, which as of this writing is version 1.2.1.  I'm going to make the call that it isn't worth a maintenance release of SOM to correct these, since they are basically minor inconveniences.

[2021-02-05 18:16] jbphet commented on #90
I've now addressed the portions of the issue described in https://github.com/phetsims/atomic-interactions/issues/90#issuecomment-759834209 and https://github.com/phetsims/atomic-interactions/issues/90#issuecomment-761209681.  I've included the fix in version 1.2.0-rc.4, and QA is assigned to verify.

[2021-02-15 15:01] DevonQui commented on #90
The above issues have been fixed but I did see something related to https://github.com/phetsims/atomic-interactions/issues/90#issuecomment-759834209 where the atomic diameter slider on the graph can become off-centered although it wasn't as severe in the previous case. @jonathanolson can you confirm whether or not this is worth addressing? Here's a link to the visual on google drive.

https://driv

[2021-02-15 17:08] jonathanolson commented on #90
I'd be curious what @jbphet thinks about whether it's worth addressing? I couldn't tell if it was slight "delays" or jitter, or if it was more of a persistent problem. It almost looked behind a frame a few times, I'm curious if that's due to the Canvas/SVG differences.

@jbphet let me know, I'm happy to hop in if desired.

[2021-02-17 19:45] jbphet commented on #90
Based on my review of the video, I think what @DevonQui is saying is that the sigma control arrow on the graph (which is *not* a slider) doesn't quite stay with the mouse as the mouse moves horizontally.  This is a good observation, but it's intentional.  The reason it behaves this way is because what the user is actually changing is the distance from the vertical (left) axis of the graph to the p

[2021-02-17 19:45] #90 closed

[2021-02-17 20:27] jbphet commented on #88
Publication complete, and I've just verified that it's live on the main PhET site.  Closing.

[2021-02-17 20:27] #88 closed

[2021-03-17 18:37] jbphet opened #92 "Should phet-io be listed as a supported brand?"
As of this moment, the `package.json` file for this sim lists phet-io as a supported brand.  I wasn't sure it it should, so I asked over Slack.  Here's the dialog:

[code]

[2021-03-17 18:39] jbphet commented on #92
I've removed phet-io as a supported brand.  Closing.

[2021-03-17 18:39] #92 closed

[2022-10-18 03:50] arouinfar commented on #74
This was addressed in the 1.2 release and it looks fine to me, closing.

[2022-10-18 03:50] #74 closed